<?php
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Template for displaying products list widget
 *
 * @var $block \Magento\CatalogWidget\Block\Product\ProductsList
 */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())):?>
<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    // $templateType =  \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;

    $meigee_helper = $this->helper('\Meigee\Barbour\Helper\BarbourGeneral');
    $lightbox_status = $meigee_helper->getCustomThemeOptionCnf('barbour_lightbox', 'lightbox_status');
    $lightbox_widget_status = $meigee_helper->getCustomThemeOptionCnf('barbour_lightbox', 'lightbox_home');
    $name_align = $meigee_helper->getCustomThemeOptionCnf('barbour_product_listing', 'product_name_aligment');
    $stock_status = $meigee_helper->getCustomThemeOptionCnf('barbour_product_listing', 'stock_status');
    $rand = rand(5, 1500);
    $quickview_status = $this->helper('WeltPixel\Quickview\Helper\Data')->getConfig('weltpixel_quickview/general/enable_product_listing');
    $quickview_btn = $meigee_helper->getCustomThemeOptionCnf('barbour_product_listing', 'quickview_btn');

    $labels_type = $meigee_helper->getCustomThemeOptionCnf('barbour_labels', 'label_type');
    $label_new = $meigee_helper->getCustomThemeOptionCnf('barbour_labels', 'label_new');
    $label_sale = $meigee_helper->getCustomThemeOptionCnf('barbour_labels', 'label_sale');
    $label_sale_percentage = $meigee_helper->getCustomThemeOptionCnf('barbour_labels', 'label_sale_percentage');

    $image_hover_status = $meigee_helper->getCustomThemeOptionCnf('barbour_image_hover', 'image_hover_status');
    $image_hover_effect = $meigee_helper->getCustomThemeOptionCnf('barbour_image_hover', 'image_hover_type');

    $front_helper = $this->helper('\Meigee\Barbour\Helper\FrontHelper');

    $productsPerRow = $block->getProductsPerRow();

    switch($productsPerRow){
        case 1:
            $productsPerRow = 'one-column';
        break;
        case 2:
            $productsPerRow = 'two-columns';
        break;
        case 3:
            $productsPerRow = 'three-columns';
        break;
        case 4:
            $productsPerRow = 'four-columns';
        break;
        case 5:
            $productsPerRow = 'five-columns';
        break;
        case 6:
            $productsPerRow = 'six-columns';
        break;
    }
?>
    <div class="block widget block-products-list <?php /* @noEscape */ echo $mode; ?>">
        <?php if ($block->getTitle()): ?>
        <div class="block-title">
            <strong><?= $block->escapeHtml(__($block->getTitle())) ?></strong>
        </div>
        <?php endif ?>
        <div class="block-content">
            <?php /* @noEscape */ echo '<!-- ' . $image . '-->' ?>
            <div class="products-<?php /* @noEscape */ echo $mode; ?> <?php /* @noEscape */ echo $mode .' '. $type; echo ' '.$productsPerRow; if($image_hover_status){echo $image_hover_effect ? ' hover-scale' : ' hover-simple';} ?>">
                <ol class="product-items row">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?php if ($iterator++ != 1): ?></li><?php endif ?>
                        <li class="product-item">
                        <div class="product-item-info<?php echo !$_item->getIsSalable() ? ' sold-out' : ''; ?>">
                            <div class="indent product-hover-1">
                                <div class="image-wrapper">
                                    <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item-photo">
                                        <?php
                                        $hoverImage = $image_hover_status ? $_item->getHoverImage() : false;
                                            if ($hoverImage)
                                            {
                                                $hoverImageUrl = $this->helper('Magento\Catalog\Helper\Image')
                                                                  ->init($_item, 'hover_image')
                                                                  ->setImageFile($hoverImage)
                                                                  ->getUrl();
                                                $productImage = $block->getImage($_item, $image, array('data-hover-image'=>$hoverImageUrl));
                                            }
                                            else
                                            {
                                                $productImage = $block->getImage($_item, $image, array('data-hover-image'=>null));
                                            }
                                            echo $productImage->toHtml();
                                        ?>
                                    </a>
                                    <?php
                                        if($front_helper->isProductNew($_item) || $front_helper->isProductSale($_item) || $front_helper->isProductOnlyLeft($_item)){
                                            echo '<div class="product-labels clearfix '.$labels_type.' '.(($front_helper->isProductNew($_item) && $front_helper->isProductSale($_item)) || ($front_helper->isProductNew($_item) && $front_helper->isProductOnlyLeft($_item)) ? ' two-items' : '').'">';
                                                if($front_helper->isProductNew($_item) && $label_new) {
                                                    echo '<span class="label-new">'.__('new').'</span>';
                                                }
                                                if ($front_helper->isProductOnlyLeft($_item) && $label_sale) {
                                                    echo $front_helper->isProductOnlyLeft($_item);
                                                }
                                                elseif($front_helper->getProductSalePercent($_item) && $label_sale) {
                                                    echo $front_helper->getProductSalePercent($_item);
                                                } elseif ($front_helper->isProductSale($_item) && $label_sale) {
                                                    echo '<span class="label-sale">'.__('sale').'</span>';
                                                }
                                            echo '</div>';
                                        }
                                    ?>
                                    <div class="hover-buttons">
                                        <?php if($lightbox_status && $lightbox_widget_status){ ?>
                                            <a href="<?php echo $block->getImage($_item, $image)->getImageUrl();  ?>" class="lightbox-button" data-toggle="lightbox" data-footer="<?php echo $block->escapeHtml($_item->getName()); ?>" title="<?php echo __('Lightbox'); ?>">
                                                <i class="meigee-zoom"></i>
                                            </a>
                                        <?php } ?>
                                        <?php if ($showWishlist || $showCompare): ?>
                                            <div class="add-to-links" data-role="add-to-links">
                                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                    <a href="#"
                                                       data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($_item) ?>' class="action towishlist" data-action="add-to-wishlist" title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                    <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                                    <a href="#" class="action tocompare" data-post='<?= /* @noEscape */ $compareHelper->getPostDataParams($_item) ?>' title="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>">
                                                        <i class="meigee-chart"></i>
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                        <?php if($quickview_btn && $quickview_status) { ?>
                                        <a href="javascript: void(0);" data-quickview-url="<?php echo $block->getBaseUrl(); ?>weltpixel_quickview/catalog_product/view/id/<?php echo $block->escapeHtml($_item->getEntityId()); ?>" class="weltpixel-quickview"><i class="meigee-fa-eye"></i><span><?php /* @escapeNotVerified */ echo __('Quick view') ?></span></a>
                                        <?php } ?>
                                        <?php if($showCart){ ?>
                                            <div class="product-action-wrapper">
                                                <?php if ($showCart): ?>
                                                    <?php if ($_item->isSaleable()): ?>
                                                        <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                            <button class="action tocart primary" data-mage-init='{"redirectUrl":{"url":"<?= $block->escapeUrl($block->getAddToCartUrl($_item)) ?>"}}' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                                <i class="meigee-cart"></i>
                                                                <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                            </button>
                                                        <?php else: ?>
                                                            <?php
                                                                $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                                $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                            ?>
                                                            <button class="action tocart primary" data-post='<?= /* @noEscape */ $postData ?>' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                                <i class="meigee-cart"></i>
                                                                <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                            </button>
                                                        <?php endif; ?>
                                                    <?php else: ?>
                                                        <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" title="<?php echo __('Read more') ?>" class="btn btn-default"><i class="meigee-eye"></i><span><?php echo __('Read more') ?></span></a>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                        <?php }?>                                        
                                    </div>
                                    <?php if (!$_item->getIsSalable()): ?>
                                        <div class="sold-out-label">
                                            <span><?php /* @escapeNotVerified */ echo __('Sold out') ?></span>
                                        </div>
                                    <?php endif; ?>
                                </div>
                                <div class="product-item-details">
                                    <h4 class="product-item-name <?php echo $name_align; ?>">
                                        <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                                           href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                           class="product-item-link">
                                            <?= $block->escapeHtml($_item->getName()) ?>
                                        </a>
                                    </h4>
                                    <?php if ($templateType): ?>
                                        <?php echo $block->getReviewsSummaryHtml($_item, $templateType, true) ?>
                                    <?php endif; ?>

                                    <?php if($stock_status != 4 && $stock_status != 2) {
                                        if ($_item->getIsSalable()): ?>
                                            <div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
                                        <?php endif;
                                    } ?>
                                    <?php if($block->getProductPriceHtml($_item, $type)){ ?>
                                        <?php echo str_replace('grid', 'grid-'.$rand.'-product-'.$_item->getId().'', $block->getProductPriceHtml($_item, $type)); ?>
                                    <?php } ?>
                                    <?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Magento_Catalog::product/product_timer.phtml")->setProduct($_item)->toHtml(); ?>
                                </div>
                            </div>
                        </div>
                        <?php echo($iterator == count($items)+1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ol>
            </div>
            <?php echo $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>
