<?php
$meigee_helper = $this->helper('\Meigee\Barbour\Helper\BarbourGeneral');
$header_home_transparency = $meigee_helper->getCustomThemeOptionCnf('barbour_header', 'header_home_transparency');
$home_menu_transparency = $meigee_helper->getCustomThemeOptionCnf('barbour_header', 'home_menu_transparency');
?>
<?php 
/* Header1 */
if($meigee_helper->getCustomThemeOptionCnf('barbour_skins', 'skinheader_default')){ ?>
<div class="header-wrapper">
	<header class="page-header header-1<?php if ($header_home_transparency) : echo ' transparent-header'; endif; ?><?php if ($home_menu_transparency) : echo ' transparent-menu'; endif; ?>">
		<?php echo $this->getChildHtml("meigee.header.wrapper.bg.image"); ?>
		<div class="top-block">
			<div class="container">
				<div class="top-block-inner clearfix">
					<?php echo $this->getChildHtml("header.welcome"); ?>					
				</div> 
			</div>
		</div>
		<div class="middle-block">
			<div class="container">
				<div class="middle-block-inner clearfix">
					<div class="row">
						<div class="col-md-3 col-sm-5 logo-wrapper clearfix">
							<?php echo $this->getChildHtml("mobile.menu.btn"); ?>
							<div class="panel header"><a class="action skip contentarea" href="#contentarea"><span>Skip to Content</span></a>
								<?php echo $this->getChildHtml("logo"); ?>
							</div>							
						</div>
						<div class="col-lg-6 col-md-5 col-sm-5 search-block">
							<?php echo $this->getChildHtml("topSearch"); ?> 							
						</div>
						<div class="col-lg-3 col-md-4 col-sm-2 right-block">
							<?php echo $this->getChildHtml("options.wrapper"); ?>							
							<?php echo $this->getChildHtml("minicart"); ?>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="menu-wrapper">
			<div class="container">
				<div class="menu-inner clearfix">
					<div class="toggle-nav clearfix"><?php echo $this->getChildHtml("catalog.topnav"); ?> </div>
				</div>
				<?php echo $this->getChildHtml("meigee_mobile_header"); ?>
			</div>
		</div>
    <?php echo $this->getChildHtml("bgslider"); ?>
  </header>
  <?php echo $this->getChildHtml("meigee_sticky_header"); ?>
</div>
<?php } ?>

<?php 
/* Header2 */
if($meigee_helper->getCustomThemeOptionCnf('barbour_skins', 'skinheader_cloth')){ ?>
<div class="header-wrapper">
	<header class="page-header header-2">
		<?php echo $this->getChildHtml("meigee.header.wrapper.bg.image"); ?>
		<div class="top-block">
			<div class="container">
				<div class="top-block-inner clearfix">
					<?php echo $this->getChildHtml("header.welcome"); ?>					
				</div> 
			</div>
		</div>
		<div class="middle-block">
			<div class="container">
				<div class="middle-block-inner clearfix">
					<div class="row">
						<div class="col-md-4 col-sm-5 center-block logo-wrapper clearfix">
							<?php echo $this->getChildHtml("mobile.menu.btn"); ?>
							<div class="panel header"><a class="action skip contentarea" href="#contentarea"><span>Skip to Content</span></a>
								<?php echo $this->getChildHtml("header2.logo"); ?>
							</div>							
						</div>
						<div class="col-md-4 col-sm-5 left-block search-block">
							<?php echo $this->getChildHtml("topSearch"); ?> 							
						</div>
						<div class="col-md-4 col-sm-2 right-block">
							<?php echo $this->getChildHtml("options.wrapper"); ?>							
							<?php echo $this->getChildHtml("minicart"); ?>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="menu-wrapper">
			<div class="container">
				<div class="menu-inner clearfix">
					<div class="toggle-nav clearfix"><?php echo $this->getChildHtml("catalog.topnav"); ?> </div>
				</div>
				<?php echo $this->getChildHtml("meigee_mobile_header"); ?>
			</div>
		</div>
    <?php echo $this->getChildHtml("bgslider"); ?>
  </header>
  <?php echo $this->getChildHtml("meigee_sticky_header"); ?>
</div>
<?php } ?>

<?php 
/* Header3 */
if($meigee_helper->getCustomThemeOptionCnf('barbour_skins', 'skinheader_electronics_1')){ ?>
<div class="header-wrapper">
	<header class="page-header header-3">
		<?php echo $this->getChildHtml("meigee.header.wrapper.bg.image"); ?>
		<div class="top-block">
			<div class="container">
				<div class="top-block-inner clearfix">
					<?php echo $this->getChildHtml("barbour.header.social.links"); ?>					
					<?php echo $this->getChildHtml("header.welcome"); ?>					
					<?php echo $this->getChildHtml("barbour.header.info"); ?>					
				</div> 
			</div>
		</div>
		<div class="middle-block">
			<div class="container">
				<div class="middle-block-inner clearfix">
					<div class="row">
						<div class="col-md-2 logo-wrapper clearfix">
							<div class="panel header"><a class="action skip contentarea" href="#contentarea"><span>Skip to Content</span></a>
								<?php echo $this->getChildHtml("header3.logo"); ?>
							</div>							
						</div>
						<div class="col-md-6 col-sm-5 search-block">
							<?php echo $this->getChildHtml("topSearch"); ?> 							
						</div>	
						<?php echo $this->getChildHtml("barbour.header2.banners"); ?>							
					</div>
				</div>
			</div>
		</div>
		<div class="menu-wrapper">
			<div class="container">
				<div class="menu-inner clearfix">
					<?php echo $this->getChildHtml("mobile.menu.btn"); ?>
					<div class="toggle-nav clearfix"><?php echo $this->getChildHtml("catalog.topnav"); ?> </div>
					<?php echo $this->getChildHtml("minicart"); ?>
					<?php echo $this->getChildHtml("options.wrapper"); ?>	
				</div>
				<?php echo $this->getChildHtml("meigee_mobile_header"); ?>
			</div>
		</div>
    <?php echo $this->getChildHtml("bgslider"); ?>
  </header>
  <?php echo $this->getChildHtml("meigee_sticky_header"); ?>
</div>
<?php } ?>

<?php 
/* Header4 */
if($meigee_helper->getCustomThemeOptionCnf('barbour_skins', 'skinheader_perfumes')){ ?>
<div class="header-wrapper">
	<header class="page-header header-4<?php if ($header_home_transparency) : echo ' transparent-header'; endif; ?><?php if ($home_menu_transparency) : echo ' transparent-menu'; endif; ?>">
		<?php echo $this->getChildHtml("meigee.header.wrapper.bg.image"); ?>
		<div class="top-block">
			<div class="container">
				<div class="top-block-inner clearfix">
					<?php echo $this->getChildHtml("header.welcome"); ?>					
				</div> 
			</div>
		</div>
		<div class="middle-block">
			<div class="container">
				<div class="middle-block-inner clearfix">
					<div class="logo-wrapper clearfix">
						<?php echo $this->getChildHtml("mobile.menu.btn"); ?>
						<div class="panel header"><a class="action skip contentarea" href="#contentarea"><span>Skip to Content</span></a>
							<?php echo $this->getChildHtml("header4.logo"); ?>
						</div>							
					</div>
					<div class="right-block">
						<?php echo $this->getChildHtml("topSearch"); ?> 	
						<?php echo $this->getChildHtml("options.wrapper"); ?>							
						<?php echo $this->getChildHtml("minicart"); ?>						
					</div>
					<div class="toggle-nav clearfix"><?php echo $this->getChildHtml("catalog.topnav"); ?> </div>
				</div>
			</div>
		</div>
		<div class="menu-wrapper">
			<div class="container">
				<div class="menu-inner clearfix">
				</div>
				<?php echo $this->getChildHtml("meigee_mobile_header"); ?>
			</div>
		</div>
    <?php echo $this->getChildHtml("bgslider"); ?>
  </header>
  <?php echo $this->getChildHtml("meigee_sticky_header"); ?>
</div>
<?php } ?>

<?php 
/* Header5 */
if($meigee_helper->getCustomThemeOptionCnf('barbour_skins', 'skinheader_electronics_2')){ ?>
<div class="header-wrapper">
	<header class="page-header header-5">
		<?php echo $this->getChildHtml("meigee.header.wrapper.bg.image"); ?>
		<div class="top-block">
			<div class="container">
				<div class="top-block-inner clearfix">					
					<?php echo $this->getChildHtml("header.welcome"); ?>						
				</div> 
			</div>
		</div>
		<div class="middle-block">
			<div class="container">
				<div class="middle-block-inner clearfix">
					<div class="row">
						<div class="col-md-3 col-sm-5 logo-wrapper clearfix">
							<?php echo $this->getChildHtml("mobile.menu.btn"); ?>
							<div class="panel header"><a class="action skip contentarea" href="#contentarea"><span>Skip to Content</span></a>
								<?php echo $this->getChildHtml("header5.logo"); ?>
							</div>									
						</div>
						<div class="col-lg-7 col-md-6 col-sm-7 col-xs-12 right-block">
							<?php echo $this->getChildHtml("topSearch"); ?> 
							<?php echo $this->getChildHtml("options.wrapper"); ?>	
							<?php echo $this->getChildHtml("minicart"); ?>									
						</div>
						<div class="menu-wrapper">
							<div class="container">
								<div class="menu-inner clearfix">
									<div class="toggle-nav clearfix"><?php echo $this->getChildHtml("catalog.topnav"); ?> </div>
								</div>
								<?php echo $this->getChildHtml("meigee_mobile_header"); ?>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    <?php echo $this->getChildHtml("bgslider"); ?>
  </header>
  <?php echo $this->getChildHtml("meigee_sticky_header"); ?>
</div>
<?php } ?>

<?php 
/* Header6 */
if($meigee_helper->getCustomThemeOptionCnf('barbour_skins', 'skinheader_jewelry')){ ?>
<div class="header-wrapper">
	<header class="page-header header-6">
		<?php echo $this->getChildHtml("meigee.header.wrapper.bg.image"); ?>
		<div class="top-block">
			<div class="container">
				<div class="top-block-inner clearfix">				
					<?php echo $this->getChildHtml("header.welcome"); ?>	
					<div class="right-block">						
						<?php echo $this->getChildHtml("barbour.header.info"); ?>					
					</div>				
				</div> 
			</div>
		</div>
		<div class="middle-block">
			<div class="container">
				<div class="middle-block-inner clearfix">
					<div class="row">
						<div class="col-md-4 col-sm-6 center-block logo-wrapper clearfix">
							<?php echo $this->getChildHtml("mobile.menu.btn"); ?>
							<div class="panel header"><a class="action skip contentarea" href="#contentarea"><span>Skip to Content</span></a>
								<?php echo $this->getChildHtml("header6.logo"); ?>
							</div>							
						</div>
						<div class="col-md-4 col-sm-3 col-xs-6 left-block clearfix">
							<?php echo $this->getChildHtml("barbour.header.social.links"); ?>								
						</div>	
						<div class="col-md-4 col-sm-3 col-xs-6 right-block">
							<?php echo $this->getChildHtml("topSearch"); ?> 
							<?php echo $this->getChildHtml("minicart"); ?>
							<?php echo $this->getChildHtml("options.wrapper"); ?>								
						</div>							
					</div>
				</div>
			</div>
		</div>
		<div class="menu-wrapper">
			<div class="container">
				<div class="menu-inner clearfix">
					<div class="toggle-nav clearfix"><?php echo $this->getChildHtml("catalog.topnav"); ?> </div>
				</div>
				<?php echo $this->getChildHtml("meigee_mobile_header"); ?>
			</div>
		</div>
    <?php echo $this->getChildHtml("bgslider"); ?>
  </header>
  <?php echo $this->getChildHtml("meigee_sticky_header"); ?>
</div>
<?php } ?>

<?php 
/* Header7 */
if($meigee_helper->getCustomThemeOptionCnf('barbour_skins', 'skinheader_handmade')){ ?>
<div class="header-wrapper">
	<header class="page-header header-7 clearfix">
		<?php echo $this->getChildHtml("meigee.header.wrapper.bg.image"); ?>
		<div class="top-block">
			<div class="container">
				<div class="top-block-inner clearfix">
					<?php echo $this->getChildHtml("header.welcome"); ?>					
				</div> 
			</div>
		</div>
		<div class="middle-block">
			<div class="container">
				<div class="middle-block-inner clearfix">
					<div class="row">
						<div class="col-md-6 col-sm-5 center-block logo-wrapper clearfix">
							<?php echo $this->getChildHtml("mobile.menu.btn"); ?>
							<?php echo $this->getChildHtml("meigee_mobile_header"); ?>
							<div class="panel header"><a class="action skip contentarea" href="#contentarea"><span>Skip to Content</span></a>
								<?php echo $this->getChildHtml("header7.logo"); ?>
							</div>							
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6 left-block clearfix search-block">
							<?php echo $this->getChildHtml("topSearch"); ?> 							
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 right-block">
							<?php echo $this->getChildHtml("options.wrapper"); ?>							
							<?php echo $this->getChildHtml("minicart"); ?>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="menu-wrapper">
			<div class="container">
				<div class="col-md-10">
					<div class="menu-inner clearfix">
						<div class="toggle-nav clearfix"><?php echo $this->getChildHtml("catalog.topnav"); ?> </div>
					</div>
				</div>
				<div class="right-block col-md-2">
					<?php echo $this->getChildHtml("barbour.header.social.links"); ?>
				</div>
			</div>
		</div>
    <?php echo $this->getChildHtml("bgslider"); ?>
  </header>
  <?php echo $this->getChildHtml("meigee_sticky_header"); ?>
</div>
<?php } ?>