<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var \Magento\Cookie\Block\Html\Notices $block */ ?>
<?php if ($this->helper('Magento\Cookie\Helper\Cookie')->isUserNotAllowSaveCookie()): ?>
    <div class="message global cookie" id="notice-cookie-block" style="display: none">
        <div class="container">            
            <div class="content">
                <div class="notice-text">
                    <p>
                        <span><?php /* @escapeNotVerified */ echo __('Cookies help us deliver our services. By using our services, you agree to our use of cookies.') ?></span>
                        <?php /* @escapeNotVerified */ echo __('<a href="%1">Learn more</a>', $block->getPrivacyPolicyLink()) ?>
                    </p>
                </div>
                <div class="actions">
                    <button id="btn-cookie-allow" class="action btn allow btn-primary">
                        <span><?php /* @escapeNotVerified */ echo __('Allow');?></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/x-magento-init">
        {
            "#notice-cookie-block": {
                "cookieNotices": {
                    "cookieAllowButtonSelector": "#btn-cookie-allow",
                    "cookieName": "<?php /* @escapeNotVerified */ echo \Magento\Cookie\Helper\Cookie::IS_USER_ALLOWED_SAVE_COOKIE ?>",
                    "cookieValue": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Cookie\Helper\Cookie')->getAcceptedSaveCookiesWebsiteIds() ?>,
                    "cookieLifetime": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Cookie\Helper\Cookie')->getCookieRestrictionLifetime()?>,
                    "noCookiesUrl": "<?php /* @escapeNotVerified */ echo $block->getUrl('cookie/index/noCookies') ?>"
                }
            }
        }
    </script>
    <script type="text/javascript">
        require([
            'jquery',
            'mage/cookies'
        ], function ($) {
            if ($('#notice-cookie-block').length) {
                if (!$.cookie('user_allowed_save_cookie')) {
                    $('html > body').addClass('with-notice-cookie-block');
                }
                if ($.cookie('user_allowed_save_cookie')) {
                    $('html > body').removeClass('with-notice-cookie-block');
                }
            } else {                
                $('html > body').removeClass('with-notice-cookie-block');
            }
            $('#btn-cookie-allow').on('click', function(){
                $('html > body').removeClass('with-notice-cookie-block');
            });
        });
    </script>
<?php endif; ?>
