@media only screen and (max-width: 1007px) {
	#mobile-nav li.level1 a .ui-menu-icon,
	#mobile-nav li.level1 .megamenu-inner,
	#mobile-nav li.level1 .megamenu-wrapper,
	#mobile-nav li.level1 ul.submenu {
		display: none !important;
	}
	
}