html body,
.custom-price-wrapper .price-text,
.text-banner .banner-price-wrapper .banner-price-text,
.filter-options-title {
    font-family: 'Libre Baskerville', sans-serif;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6,
body .btn,
body .weltpixel-quickview,
body.checkout-index-index button[type="submit"],
.product-info-main #product-addtocart-button,
.page-header .welcome,
.page-header .header-info,
.header.links li.authorization-link a,
.page-header .customer-name .user-icon,
.customer-welcome .customer-name,
.header-wrapper .header.links .customer-menu li a,
.header-wrapper .header.links .customer-menu li.authorization-link a,
.header-wrapper .block-search .btn,
.header-wrapper .navbar-collapse.collapse a.level-top,
.minicart-wrapper .title-cart,
.block-minicart .subtotal,
.page-header .header-custom-block-wrapper,
.page-header .action.nav-toggle,
.page-header .header-switcher ul li a,
.page-header .header-switcher ul li span,
.page-header .header-switcher .switcher-trigger span,
.custom-price-wrapper,
.text-banner .banner-price-wrapper,
.text-banner .banner-label,
.text-banner .title,
.text-banner .strong-title,
.text-banner .subtitle,
.text-blocks-wrapper .text-item .title,
.parallax-banners-wrapper .banner-content .title,
.parallax-banners-wrapper .banner-content .subtitle,
.parallax-banners-wrapper .banner-content .text,
#home-slider .item .title,
.page-title,
.product-item-name a,
.price,
.product-labels span,
.product-info-main .product-options-wrapper .label,
.product-info-main .product-options-wrapper .swatch-attribute-label,
#tabs .nav-tabs li a,
.related .block-actions .action,
.reviews-wrapper .review-title,
.customer-review.view .review-details .title,
.customer-review.view .review-title,
.block-title,
.sidebar .block .block-title,
.block-collapsible-nav-title,
.sidebar .block li a,
.sidebar .block li strong,
.block-reviews-dashboard ol li .product-name a,
.table.totals th,
.table.totals td,
.table-caption,
.multicheckout .block .title,
.checkout-container .opc-progress-bar-item > span:after,
.opc-wrapper .step-title,
.opc-block-shipping-information .shipping-information-title,
.opc-block-summary > .title,
.checkout-agreements-items .checkout-agreements-item-title,
.checkout-payment-method .payment-method-title,
.checkout-payment-method .payment-option-title .action-toggle,
.cart-totals tbody .mark,
.cart-totals tfoot .mark,
.opc-block-summary .table-totals tbody .mark,
.opc-block-summary .table-totals tfoot .mark,
.cart-totals .grand .mark strong,
body .footer .subscribe-block .title {
  font-family: 'Cormorant Garamond', sans-serif;
}

body a,
.skincolor,
.header.links li.authorization-link a,
.customer-welcome .customer-name,
.header-wrapper .block-search .btn,
.text-banner .title.skincolor,
.text-banner .title .skincolor,
.text-banner .subtitle.skincolor,
.text-banner .subtitle .skincolor,
.text-banner .text.skincolor,
.text-banner .text .skincolor,
.text-banner .skincolor,
#home-slider .owl-buttons div,
ul.breadcrumb li a:hover,
.toolbar .modes strong i,
.product-item-name a,
.products-list .actions-secondary a:hover,
.related .block-actions .action:hover,
.reviews-wrapper .review-author strong,
.reviews-actions a:hover,
body .swatch-attribute .swatch-option:not(.disabled):hover,
body .swatch-attribute.size .swatch-option.selected,
body .swatch-attribute.manufacturer .swatch-option.selected,
.authentication-wrapper .action-auth-toggle:hover,
.sidebar .block.filter ol li a:hover,
.sidebar .block li a.delete:hover,
#shopping-cart-table tbody tr td.actions a:hover,
.checkout-methods-items li a:hover,
.owl-buttons i,
.modal-open .modal.ekko-lightbox .modal-header .close:hover:before,
body .footer .subscribe-block .block.newsletter .btn:hover,
body .footer .subscribe-block .block.newsletter .btn:focus,
body .footer .subscribe-block .block.newsletter .btn:active {color: #222;}

.skincolor-bg,
body .btn-default:hover,
body .btn-default:active,
body .btn-default:focus,
body .btn-default.hover,
body .btn-default.active,
body .btn-default.focus,
body .btn-default.disabled:hover,
body .btn-default[disabled]:hover,
body .btn-default.disabled:hover,
body .btn-default[disabled]:hover,
body fieldset[disabled] .btn-default:hover,
body .btn-default.disabled:focus,
body .btn-default[disabled]:focus,
body fieldset[disabled] .btn-default:focus,
body .btn-default.disabled.focus,
body .btn-default[disabled].focus,
body fieldset[disabled] .btn-default.focus,
body .btn-default.light:hover,
body .btn-default.light:active,
body .btn-default.light:focus,
body .btn-default.light.hover,
body .btn-default.light.active,
body .btn-default.light.focus,
body .btn-default.light.disabled:hover,
body .btn-default.light[disabled]:hover,
body .btn-default.light.disabled:hover,
body .btn-default.light[disabled]:hover,
body fieldset[disabled] .btn-default.light:hover,
body .btn-default.light.disabled:focus,
body .btn-default.light[disabled]:focus,
body fieldset[disabled] .btn-default.light:focus,
body .btn-default.light.disabled.focus,
body .btn-default[disabled].light.focus,
body fieldset[disabled] .btn-default.light.focus,
body .header-wrapper .block-search .btn:after,
.minicart-wrapper .title-cart .cart-indicator,
.minicart-wrapper .title-cart .cart-full-indicator,
.minicart-wrapper .title-cart .cart-full-indicator:after,
.minicart-wrapper .title-cart .cart-full-indicator:before,
.custom-price-wrapper,
.text-banner .banner-price-wrapper,
#home-slider .owl-buttons div:hover,
.cms-no-route .page-not-found .btn:hover,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span,
.owl-theme .owl-controls .owl-page.active span:after,
.owl-theme .owl-controls.clickable .owl-page:hover span:after,
.owl-buttons i:hover,
.ekko-lightbox-nav-overlay a i:hover,
body .footer .subscribe-block .background-wrapper,
.footer .links a:before,
button.action-primary:hover,
button.action-primary:active,
button.action-primary:focus,
button.action-secondary:hover,
button.action-secondary:active,
button.action-secondary:focus {
  background-color: #222;
}

body .btn,
body.checkout-index-index button[type="submit"],
button.action-primary,
button.action-secondary,
.product-info-main #product-addtocart-button,
body .btn.btn-primary.type-2,
.products-grid .add-to-links a:hover,
.products-list .add-to-links a:hover,
.products-list .actions-secondary a:hover i {
  border-color: #222;
  background-color: #222;
}
.header-wrapper .block-search .input-group {
    border-color: #222;
}


body a:hover,
body a:focus,
.skincolor-2,
.page-header .header-switcher .options .action.toggle:hover,
.page-header .header-switcher .options .action.toggle.active,
.header.links li.authorization-link a:hover,
.page-header .customer-name-wrapper + .links li a i,
.page-header .customer-name-wrapper + .links li a:hover,
.customer-welcome .customer-name.active,
.customer-welcome .customer-name:hover,
.header-wrapper .header.links .customer-menu li a:hover,
.header-wrapper .header.links .customer-menu li.authorization-link a:hover,
.navigation .level0 .submenu a:hover,
.navigation .level0 .submenu a.ui-state-focus,
.navigation .level0 .submenu .active > a,
.block-minicart .subtotal .label,
.block-minicart .subtotal .price-container,
.minicart-wrapper .actions div.secondary .btn:hover,
.minicart-items .action.edit:hover,
.minicart-items .action.delete:hover,
.page-header .custom-wish-link a:hover,
.page-header .custom-wish-link a:focus,
.page-header .custom-wish-link a:active,
.text-banner .title.skincolor-2,
.text-banner .title .skincolor-2,
.text-banner .subtitle.skincolor-2,
.text-banner .subtitle .skincolor-2,
.text-banner .text.skincolor-2,
.text-banner .text .skincolor-2,
.text-banner .skincolor-2,
.price,
.account .content-inner a:hover,
.block-dashboard-addresses .block-title a :hover,
.block-dashboard-info .block-title a i:hover,
.box .box-title a i:hover,
#my-orders-table a:hover,
.footer .footer-middle .contacts-block i,
.footer a:hover {
    color: #e56ac4;
}

.skincolor-2-bg,
body .btn.btn-primary:hover,
body .btn.btn-primary:active,
body .btn.btn-primary:focus,
body .btn.btn-primary.hover,
body .btn.btn-primary.active,
body .btn.btn-primary.focus,
body .btn.btn-primary.disabled:hover,
body .btn.btn-primary[disabled]:hover,
body fieldset[disabled] .btn.btn-primary:hover,
body .btn.btn-primary.disabled:focus,
body .btn.btn-primary[disabled]:focus,
body fieldset[disabled] .btn.btn-primary:focus,
body .btn.btn-primary.disabled.focus,
body .btn.btn-primary[disabled].focus,
body fieldset[disabled] .btn.btn-primary.focus,
body .weltpixel-quickview:hover,
body .weltpixel-quickview:active,
body .weltpixel-quickview:focus,
body .weltpixel-quickview.hover,
body .weltpixel-quickview.active,
body .weltpixel-quickview.focus,
body .weltpixel-quickview.disabled:hover,
body .weltpixel-quickview[disabled]:hover,
body .weltpixel-quickview.disabled:focus,
body .weltpixel-quickview[disabled]:focus,
body .weltpixel-quickview.disabled.focus,
body .weltpixel-quickview[disabled].focus,
.page-header .customer-name-wrapper + .links li a .hover-divider,
.header-wrapper .header.links .customer-menu li a:after,
.minicart-wrapper .title-cart .icon,
.product-labels span,
.lightbox-button:hover,
.footer .promo-block .promo-label span,
.footer .links a:before {
  background-color: #e56ac4;
}

body .btn.btn-primary,
body .weltpixel-quickview {
  background-color: #e56ac4;
  border-color: #e56ac4;
}


body.checkout-index-index button[type="submit"]:after,
body .btn:not(.selectpicker):after,
.product-info-main #product-addtocart-button:after,
button.action-primary:hover:after,
button.action-primary:focus:after,
button.action-primary:active:after,
button.action-secondary:hover:after,
button.action-secondary:focus:after,
button.action-secondary:active:after,
body .btn.btn-primary.type-2:after {
    background-color: #e56ac4;
}


body .btn.btn-primary.type-2:hover,
body .btn.btn-primary.type-2:active,
body .btn.btn-primary.type-2:focus,
body .btn.btn-primary.type-2.hover,
body .btn.btn-primary.type-2.active,
body .btn.btn-primary.type-2.focus,
body .btn.btn-primary.type-2.disabled:hover,
body .btn.btn-primary.type-2[disabled]:hover,
body fieldset[disabled] .btn.btn-primary.type-2:hover,
body .btn.btn-primary.type-2.disabled:focus,
body .btn.btn-primary.type-2[disabled]:focus,
body fieldset[disabled] .btn.btn-primary.type-2:focus,
body .btn.btn-primary.type-2.disabled.focus,
body .btn.btn-primary.type-2[disabled].focus,
body fieldset[disabled] .btn.btn-primary.type-2.focus,
.product-info-main #product-addtocart-button:hover,
.product-info-main #product-addtocart-button:active,
.product-info-main #product-addtocart-button:focus,
.product-info-main #product-addtocart-button.hover,
.product-info-main #product-addtocart-button.active,
.product-info-main #product-addtocart-button.focus,
body .btn-default:hover,
body .btn-default:active,
body .btn-default:focus,
body .btn-default.hover,
body .btn-default.active,
body .btn-default.focus,
body .btn-default.disabled:hover,
body .btn-default[disabled]:hover,
body .btn-default.disabled:hover,
body .btn-default[disabled]:hover,
body fieldset[disabled] .btn-default:hover,
body .btn-default.disabled:focus,
body .btn-default[disabled]:focus,
body fieldset[disabled] .btn-default:focus,
body .btn-default.disabled.focus,
body .btn-default[disabled].focus,
body fieldset[disabled] .btn-default.focus,
body .btn-default.light:hover,
body .btn-default.light:active,
body .btn-default.light:focus,
body .btn-default.light.hover,
body .btn-default.light.active,
body .btn-default.light.focus,
body .btn-default.light.disabled:hover,
body .btn-default.light[disabled]:hover,
body .btn-default.light.disabled:hover,
body .btn-default.light[disabled]:hover,
body fieldset[disabled] .btn-default.light:hover,
body .btn-default.light.disabled:focus,
body .btn-default.light[disabled]:focus,
body fieldset[disabled] .btn-default.light:focus,
body .btn-default.light.disabled.focus,
body .btn-default[disabled].light.focus,
body fieldset[disabled] .btn-default.light.focus,
button.action-primary:hover,
button.action-primary:active,
button.action-primary:focus,
button.action-secondary:hover,
button.action-secondary:active,
button.action-secondary:focus {
    border-color: #e56ac4;
}


.boxed-layout .header-wrapper .header-5 .menu-wrapper .container {
    border-bottom: 1px solid rgba(0,0,0,.07);
}
.page-header.header-5 .top-block > .container{
    padding-top: 7px;
    padding-bottom: 7px;
}
.page-header.header-5 ul.social-links{margin-right: 20px;}
.page-header.header-5 ul.social-links li {padding-right: 10px;}
.page-header.header-5 ul.social-links li a {
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.6);
}
.page-header.header-5 .welcome {
    padding: 6px 0;
}
.page-header .custom-wish-link {
}
.page-header .custom-wish-link a {
    color: rgba(0,0,0,0.4);
}
.page-header.header-5 .custom-wish-link a:before {
   font-size: 16px;
   line-height: 16px;
}
.page-header.header-5 .header.links li.authorization-link a,
.page-header.header-5 .customer-welcome .customer-name {
    font-size: 20px;
    line-height: 30px;
    height: 30px;
}
.page-header.header-5 .customer-welcome  .header.links li.authorization-link a {
    line-height: inherit;
    font-size: inherit;
    height: auto;
}
.page-header.header-5 .custom-wish-link {
    padding-top: 7px;
    padding-bottom: 7px;
}
.page-header.header-5 .header.links li.authorization-link a:before,
.page-header.header-5 .customer-welcome .customer-name > span:before {
    font-size: 18px;
    margin-top: -2px;
}
.page-header.header-5 .minicart-wrapper .title-cart {
    padding: 0;
    padding-left: 20px;
    border-left: 1px solid rgba(0,0,0,0.08);
    margin-left: 20px;
    margin-top: 0;
}
.page-header.header-5 .minicart-wrapper .title-cart .subtotal,
.page-header.header-5 .minicart-wrapper .title-cart .divider,
.page-header.header-5 .minicart-wrapper .title-cart .caret,
.page-header.header-5 .minicart-wrapper .title-cart .counter-number {
    display: inline-block;
}
.page-header.header-5 .minicart-wrapper .title-cart .caret {
    margin-top: 4px;
}
.page-header.header-5 .minicart-wrapper .title-cart:hover,
.page-header.header-5 .minicart-wrapper .title-cart.active {
    opacity: .8;
}
.page-header.header-5 .minicart-wrapper .title-cart .icon {
    background: none;
    height: 30px;
    line-height: 30px;
    width: 20px;
}
.page-header.header-5 .minicart-wrapper .title-cart .icon:after {
    content: none;
}
.page-header.header-5 .minicart-wrapper .title-cart .icon i {
    color: #222;
    font-size: 18px;
}
.page-header.header-5 .minicart-wrapper .title-cart .cart-right-items {
    font-size: 24px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-left: 5px;
}
.page-header.header-5 .middle-block-inner {
    padding-top: 20px;
    padding-bottom: 20px;
}
.page-header.header-5 .panel {
    float: none;
    display: inline-block;
}
.page-header.header-5 .logo-wrapper {
    display: inline-block;
    float: none;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}
.page-header.header-5 .middle-block .right-block {
    text-align: right;
}
.page-header.header-5 .navbar-collapse.collapse a.level-top {
    font-size: 20px;
    font-weight: 400;
    padding: 11px 15px;
}
.page-header.header-5 .block-search {
        padding: 0;
    width: 344px;
    float: right;
    margin-top: 9px;
}


.header-wrapper .block-search .input-group {
    background-color: #ebebeb;
    border: none;
    border-radius: 25px;
}
.header-wrapper .block-search .btn:before {
    content: none;
}
.header-wrapper .block-search .btn i {
    font-size: 9px;
}
.header-wrapper .block-search .search-icon {
    padding-left: 15px;
    padding-right: 0;
}
.header-wrapper .block-search .search-icon i {
    font-size: 16px;
}
.header-wrapper .block-search .btn {
    height: 36px;
    line-height: 36px;
}
.header-wrapper .block-search input {
    font-size: 12px;
    padding-left: 9px;
    height: 36px;
}


#sticky-header .navbar-collapse.collapse a.level-top {
    line-height: 1.78;
    padding-top: 14px;
    padding-bottom: 14px;
}
#sticky-header .right-wrapper {padding-top: 5px; padding-bottom: 5px;}
#sticky-header .block-search {
    margin-top: 8px;
    margin-bottom: 8px;
}
#sticky-header .left-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
}
.widget-title h2 {
    font-size: 30px;
    font-weight: 400;
}
.widget-title h3 {
    font-size: 30px;
    font-weight: 400;
    text-transform: none;
}
.products-grid .btn i,
.products-list .btn i {
    font-size: 16px;
}
.products-grid .product-item-name, .products-list .product-item-name {font-size: 18px;}
.products-grid .price, .products-list .price {font-size: 16px;}
.product-labels span {
    font-size: 9px;
}
.product-labels span,
.product-labels.two-items span,
.product-labels.two-items span + span {
    border-radius: 0;
}

#home-slider .owl-nav div i{font-size: 10px;}
#home-slider .item .slide-container{
    right: 14%;
    left: auto;
    top: 23%;
}
#home-slider .item .text {
    margin-bottom: 12px;
    font-size: 12px;
}
#home-slider .item .title strong{font-weight: 500;}
#home-slider .item .title{color: #888;}

#home-slider .item .btn.btn-primary{
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#home-slider .item .slide-container.type-2{
    right: 20%;
    top: 11%;
}
#home-slider .owl-buttons div:before {
    font-size: 10px;
}

html body.cms-no-route .container {background-color: #fff;}
.sidebar .block.filter ol li a {
    font-size: 1.3em;
}
.cart-totals tbody .mark,
.cart-totals tfoot .mark,
.opc-block-summary .table-totals tbody .mark,
.opc-block-summary .table-totals tfoot .mark,
.table.totals td .price {
    font-size: 18px;
}

.products-grid .btn,
.products-list .btn {
    background-color: #eee;
    color: #353535;
}
body .products-grid .btn:after,
body .products-list .btn:after {
    background-color: #222;
}
body .products-grid .btn:hover,
body .products-grid .btn:active,
body .products-grid .btn:focus,
body .products-grid .btn.hover,
body .products-grid .btn.active,
body .products-grid .btn.focus,
body .products-grid .btn.disabled:hover,
body .products-grid .btn[disabled]:hover,
body .products-grid .btn.disabled:hover,
body .products-grid .btn[disabled]:hover,
body fieldset[disabled] .products-grid .btn:hover,
body .products-grid .btn.disabled:focus,
body .products-grid .btn[disabled]:focus,
body fieldset[disabled] .products-grid .btn:focus,
body .products-grid .btn.disabled.focus,
body .products-grid .btn[disabled].focus,
body fieldset[disabled] .products-grid .btn.focus,
body .products-list .btn:hover,
body .products-list .btn:active,
body .products-list .btn:focus,
body .products-list .btn.hover,
body .products-list .btn.active,
body .products-list .btn.focus,
body .products-list .btn.disabled:hover,
body .products-list .btn[disabled]:hover,
body .products-list .btn.disabled:hover,
body .products-list .btn[disabled]:hover,
body fieldset[disabled] .products-list .btn:hover,
body .products-list .btn.disabled:focus,
body .products-list .btn[disabled]:focus,
body fieldset[disabled] .products-list .btn:focus,
body .products-list .btn.disabled.focus,
body .products-list .btn[disabled].focus,
body fieldset[disabled] .products-list .btn.focus {
    border-color: #222;
}


.text-blocks-wrapper .text-item i {font-size: 24px; color:#222;}
.text-blocks-wrapper .text-item .text{font-size: 12px;}
.text-blocks-wrapper .text-item .title {
    color: #222222;
    font-size: 24px;
    font-weight: 400;
}


.boxed-layout .footer{background: none;}
.boxed-layout .footer > .container{border-top: 1px solid rgba(0,0,0,.07);}
body .footer .subscribe-block{
    background: url(../../images/barbour_perfume_newsletter_wrapper.jpg) 0 0 no-repeat;
    position: relative;
    margin:0 -40px;
    padding:30px 40px;
}
body .footer .subscribe-block .title{
    font-size: 30px;
    letter-spacing: -1px;
    font-weight: 400;
}
body .footer .subscribe-block .content label{font-size: 12px;}
body .subscribe-block .block.newsletter .input-wrapper{
    border: none;
    background: rgba(255,255,255,0.1);
    border-radius: 25px;
}
body .subscribe-block .block.newsletter .input-wrapper .btn {
    border-radius: 0 25px 25px 0;
}
body .footer .subscribe-block .left-icon i{font-size: 18px;}
body .footer .subscribe-block .content input{
    padding-left: 12px;
    font-size: 12px;
}
body .footer .subscribe-block .btn > span:before{content:none;}
body .footer .subscribe-block .btn{
    font-size: 14px;
    text-transform: uppercase;
    height: 40px;
}
body .footer .subscribe-block .btn i{text-transform: none; font-size: 7px;}
body .footer .subscribe-block .content input{height: 40px;}


.footer .footer-block-title{font-size: 18px;}

.footer .footer-bottom {
    border-top: 3px solid rgba(0,0,0,.1);
    position: relative;
    margin: 0;
    padding: 18px 0;
}
.footer .horizontal-links li a{font-size: 12px;}
.footer ul.social-links li a{font-size: 12px;}


/* #Desktop - Extra Large ================================================== */
@media only screen and (min-width: 1332px){
    .page-header.header-5 .header-switcher.switcher-language {
        float: left;
        padding: 3px 20px 4px;
        border-left: 1px solid rgba(0,0,0,.1);
    }
    .page-header.header-5 .header-switcher.switcher-currency {
        border-left: none;
        color: rgba(0, 0, 0, 0.7);
        font-size: 16px;
    }
    .page-header.header-5 .header-switcher {
        padding-top: 0;
        padding-bottom: 0;
    }
    .page-header.header-5 .header-switcher ul li a,
    .page-header.header-5 .header-switcher ul li span {
        padding-left: 0;
    }
    .page-header.header-5 .header-switcher img {
        width: 16px;
        margin-right: 15px;
    }

    .footer:before,
    .footer:after{display: none;}
    body .footer .subscribe-block .block.newsletter {width: 75.5%;}
    .footer .footer-bottom {
        margin: 0 -40px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* #Desktop ================================================== */
/* Note: Design for a width of 1024px */
@media only screen and (min-width: 1008px) and (max-width: 1331px){
    .page-header.header-5 .header-switcher.switcher-language {
        float: left;
        padding: 3px 20px 4px;
        border-left: 1px solid rgba(0,0,0,.1);
    }
    .page-header.header-5 .header-switcher.switcher-currency {
        border-left: none;
        color: rgba(0, 0, 0, 0.7);
        font-size: 16px;
    }
    .page-header.header-5 .header-switcher {
        padding-top: 0;
        padding-bottom: 0;
    }
    .page-header.header-5 .header-switcher ul li a,
    .page-header.header-5 .header-switcher ul li span {
        padding-left: 0;
    }
    .page-header.header-5 .header-switcher img {
        width: 16px;
        margin-right: 15px;
    }

    .page-header.header-5 .header-info,
    .page-header.header-5 ul.social-links {
        float: left;
    }
    .page-header.header-5 .top-block {
        text-align: left;
    }
    .page-header.header-5  .right-block {
        float: right;
        text-align: right;
        border: none;
    }
    .page-header.header-5 .navbar-collapse.collapse a.level-top {
        font-size: 16px;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    body .footer .subscribe-block .block.newsletter .input-wrapper {
            width: 52.2%;
    }
    body .footer .subscribe-block{
        margin: 0 -10px;
        padding: 30px 20px;
    }
}

/* #Tablet (Portrait) ================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 1007px){
    .page-header.header-5 .right-block {
        float: right;
    }
    .page-header.header-5  .top-block {
        text-align: left;
    }
    .page-header.header-5 .header.links li.authorization-link a,
    .page-header.header-5 .customer-welcome .customer-name {
        font-size: 20px;
        line-height: inherit;
        padding: 0 12px;
    }

    body .footer .subscribe-block .block.newsletter .input-wrapper {
        width: 51.6%;
    }
    body .footer .subscribe-block{margin: 0 -10px;}
}

/*  #Mobile (Portrait) ================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px){
    .page-header.header-5 .right-block {
        float: right;
    }
    .page-header.header-5  .top-block {
        text-align: left;
    }
    .page-header.header-5 .logo-wrapper {
        display: block;
        margin-bottom: 15px;
    }
    .page-header.header-5 .middle-block .left-block {
        margin-bottom: 15px;
    }
    .page-header.header-5 .header.links li.authorization-link a,
    .page-header.header-5 .customer-welcome .customer-name {
        font-size: 20px;
        line-height: inherit;
        padding: 0 12px;
    }
    .page-header.header-5 .right-block {
        float: none;
    }
    .page-header.header-5 .minicart-wrapper {
        float: none;
        display: inline-block;
    }
    .page-header.header-5 .menu-wrapper .menu-inner {
        text-align: center;
    }
    .page-header.header-5 .minicart-wrapper .title-cart {
        padding-left: 0;
        margin-left: 0;
        border: none;
    }
    .page-header.header-5 .block-search {
        float: none;
        width: 100%;
        margin-bottom: 15px;
    }
    .page-header.header-5 .minicart-wrapper .block-minicart {
        right: 50%;
        -o-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }

    body .footer .subscribe-block{
        margin: 0 -10px;
        padding: 30px 18px;
    }
}
