body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6,
body .btn,
body .weltpixel-quickview,
body.checkout-index-index button[type="submit"],
.product-info-main #product-addtocart-button,
.page-header .welcome,
.page-header .header-info,
.header.links li.authorization-link a,
.page-header .customer-name .user-icon,
.customer-welcome .customer-name,
.header-wrapper .header.links .customer-menu li a,
.header-wrapper .header.links .customer-menu li.authorization-link a,
.header-wrapper .block-search .btn,
.header-wrapper .navbar-collapse.collapse a.level-top,
.minicart-wrapper .title-cart,
.block-minicart .subtotal,
.page-header .header-custom-block-wrapper,
.page-header .action.nav-toggle,
.page-header .header-switcher ul li a,
.page-header .header-switcher ul li span,
.page-header .header-switcher .switcher-trigger span,
.custom-price-wrapper,
.text-banner .banner-price-wrapper,
.text-banner .banner-label,
.text-banner .title,
.text-banner .strong-title,
.text-banner .subtitle,
.text-blocks-wrapper .text-item .title,
.parallax-banners-wrapper .banner-content .title,
.parallax-banners-wrapper .banner-content .subtitle,
.parallax-banners-wrapper .banner-content .text,
#home-slider .item .title,
.page-title,
.product-item-name a,
.price,
.product-labels span,
.product-info-main .product-options-wrapper .label,
.product-info-main .product-options-wrapper .swatch-attribute-label,
#tabs .nav-tabs li a,
.related .block-actions .action,
.reviews-wrapper .review-title,
.customer-review.view .review-details .title,
.customer-review.view .review-title,
.block-title,
.sidebar .block .block-title,
.block-collapsible-nav-title,
.sidebar .block li a,
.sidebar .block li strong,
.block-reviews-dashboard ol li .product-name a,
.table.totals th,
.table.totals td,
.table-caption,
.multicheckout .block .title,
.checkout-container .opc-progress-bar-item > span:after,
.opc-wrapper .step-title,
.opc-block-shipping-information .shipping-information-title,
.opc-block-summary > .title,
.checkout-agreements-items .checkout-agreements-item-title,
.checkout-payment-method .payment-method-title,
.checkout-payment-method .payment-option-title .action-toggle,
.cart-totals tbody .mark,
.cart-totals tfoot .mark,
.opc-block-summary .table-totals tbody .mark,
.opc-block-summary .table-totals tfoot .mark,
.cart-totals .grand .mark strong,
body .footer .subscribe-block .title {
  font-family: 'Libre Franklin', sans-serif;
}

body a,
.skincolor,
.header.links li.authorization-link a,
.customer-welcome .customer-name,
.header-wrapper .block-search .btn,
.text-banner .title.skincolor,
.text-banner .title .skincolor,
.text-banner .subtitle.skincolor,
.text-banner .subtitle .skincolor,
.text-banner .text.skincolor,
.text-banner .text .skincolor,
.text-banner .skincolor,
#home-slider .owl-buttons div,
ul.breadcrumb li a:hover,
.toolbar .modes strong i,
.product-item-name a,
.products-list .actions-secondary a:hover,
.related .block-actions .action:hover,
.reviews-wrapper .review-author strong,
.reviews-actions a:hover,
body .swatch-attribute .swatch-option:not(.disabled):hover,
body .swatch-attribute.size .swatch-option.selected,
body .swatch-attribute.manufacturer .swatch-option.selected,
.authentication-wrapper .action-auth-toggle:hover,
.sidebar .block.filter ol li a:hover,
.sidebar .block li a.delete:hover,
#shopping-cart-table tbody tr td.actions a:hover,
.checkout-methods-items li a:hover,
.owl-buttons i,
.modal-open .modal.ekko-lightbox .modal-header .close:hover:before,
body .footer .subscribe-block .block.newsletter .btn:hover,
body .footer .subscribe-block .block.newsletter .btn:focus,
body .footer .subscribe-block .block.newsletter .btn:active {color: #222222;}

.skincolor-bg,
body .btn-default:hover,
body .btn-default:active,
body .btn-default:focus,
body .btn-default.hover,
body .btn-default.active,
body .btn-default.focus,
body .btn-default.disabled:hover,
body .btn-default[disabled]:hover,
body .btn-default.disabled:hover,
body .btn-default[disabled]:hover,
body fieldset[disabled] .btn-default:hover,
body .btn-default.disabled:focus,
body .btn-default[disabled]:focus,
body fieldset[disabled] .btn-default:focus,
body .btn-default.disabled.focus,
body .btn-default[disabled].focus,
body fieldset[disabled] .btn-default.focus,
body .btn-default.light:hover,
body .btn-default.light:active,
body .btn-default.light:focus,
body .btn-default.light.hover,
body .btn-default.light.active,
body .btn-default.light.focus,
body .btn-default.light.disabled:hover,
body .btn-default.light[disabled]:hover,
body .btn-default.light.disabled:hover,
body .btn-default.light[disabled]:hover,
body fieldset[disabled] .btn-default.light:hover,
body .btn-default.light.disabled:focus,
body .btn-default.light[disabled]:focus,
body fieldset[disabled] .btn-default.light:focus,
body .btn-default.light.disabled.focus,
body .btn-default[disabled].light.focus,
body fieldset[disabled] .btn-default.light.focus,
body .btn.btn-primary.type-2:hover,
body .btn.btn-primary.type-2:active,
body .btn.btn-primary.type-2:focus,
body .btn.btn-primary.type-2.hover,
body .btn.btn-primary.type-2.active,
body .btn.btn-primary.type-2.focus,
body .btn.btn-primary.type-2.disabled:hover,
body .btn.btn-primary.type-2[disabled]:hover,
body fieldset[disabled] .btn.btn-primary.type-2:hover,
body .btn.btn-primary.type-2.disabled:focus,
body .btn.btn-primary.type-2[disabled]:focus,
body fieldset[disabled] .btn.btn-primary.type-2:focus,
body .btn.btn-primary.type-2.disabled.focus,
body .btn.btn-primary.type-2[disabled].focus,
body fieldset[disabled] .btn.btn-primary.type-2.focus,
.product-info-main #product-addtocart-button,
.product-info-main #product-addtocart-button:hover,
.product-info-main #product-addtocart-button:active,
.product-info-main #product-addtocart-button:focus,
.product-info-main #product-addtocart-button.hover,
.product-info-main #product-addtocart-button.active,
.product-info-main #product-addtocart-button.focus,
body .header-wrapper .block-search .btn:after,
.minicart-wrapper .title-cart .cart-indicator,
.minicart-wrapper .title-cart .cart-full-indicator,
.minicart-wrapper .title-cart .cart-full-indicator:after,
.minicart-wrapper .title-cart .cart-full-indicator:before,
.custom-price-wrapper,
.text-banner .banner-price-wrapper,
#home-slider .owl-buttons div:hover,
.cms-no-route .page-not-found .btn:hover,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span,
.owl-theme .owl-controls .owl-page.active span:after,
.owl-theme .owl-controls.clickable .owl-page:hover span:after,
.owl-buttons i:hover,
.ekko-lightbox-nav-overlay a i:hover,
body .footer .subscribe-block .background-wrapper,
.footer .links a:before,
button.action-primary:hover,
button.action-primary:active,
button.action-primary:focus,
button.action-secondary:hover,
button.action-secondary:active,
button.action-secondary:focus {
  background-color: #222222;
}

body .btn,
body.checkout-index-index button[type="submit"],
button.action-primary,
button.action-secondary,
.product-info-main #product-addtocart-button,
body .btn.btn-primary.type-2,
.products-grid .add-to-links a:hover,
.products-list .add-to-links a:hover,
.products-list .actions-secondary a:hover i {
  border-color: #222222;
  background-color: #222222;
}
.header-wrapper .block-search .input-group {
    border-color: #222222;
}


body a:hover,
body a:focus,
.skincolor-2,
.page-header .header-switcher .options .action.toggle:hover,
.page-header .header-switcher .options .action.toggle.active,
.header.links li.authorization-link a:hover,
.page-header .customer-name-wrapper + .links li a i,
.page-header .customer-name-wrapper + .links li a:hover,
.customer-welcome .customer-name.active,
.customer-welcome .customer-name:hover,
.header-wrapper .header.links .customer-menu li a:hover,
.header-wrapper .header.links .customer-menu li.authorization-link a:hover,
.navigation .level0 .submenu a:hover,
.navigation .level0 .submenu a.ui-state-focus,
.navigation .level0 .submenu .active > a,
.block-minicart .subtotal .label,
.block-minicart .subtotal .price-container,
.minicart-wrapper .actions div.secondary .btn:hover,
.minicart-items .action.edit:hover,
.minicart-items .action.delete:hover,
.page-header .custom-wish-link a:hover,
.page-header .custom-wish-link a:focus,
.page-header .custom-wish-link a:active,
.text-banner .title.skincolor-2,
.text-banner .title .skincolor-2,
.text-banner .subtitle.skincolor-2,
.text-banner .subtitle .skincolor-2,
.text-banner .text.skincolor-2,
.text-banner .text .skincolor-2,
.text-banner .skincolor-2,
.price,
.account .content-inner a:hover,
.block-dashboard-addresses .block-title a :hover,
.block-dashboard-info .block-title a i:hover,
.box .box-title a i:hover,
#my-orders-table a:hover,
.footer .footer-middle .contacts-block i,
.footer a:hover {
    color: #4d538c;
}

.skincolor-2-bg,
body .btn.btn-primary:hover,
body .btn.btn-primary:active,
body .btn.btn-primary:focus,
body .btn.btn-primary.hover,
body .btn.btn-primary.active,
body .btn.btn-primary.focus,
body .btn.btn-primary.disabled:hover,
body .btn.btn-primary[disabled]:hover,
body fieldset[disabled] .btn.btn-primary:hover,
body .btn.btn-primary.disabled:focus,
body .btn.btn-primary[disabled]:focus,
body fieldset[disabled] .btn.btn-primary:focus,
body .btn.btn-primary.disabled.focus,
body .btn.btn-primary[disabled].focus,
body fieldset[disabled] .btn.btn-primary.focus,
body .weltpixel-quickview:hover,
body .weltpixel-quickview:active,
body .weltpixel-quickview:focus,
body .weltpixel-quickview.hover,
body .weltpixel-quickview.active,
body .weltpixel-quickview.focus,
body .weltpixel-quickview.disabled:hover,
body .weltpixel-quickview[disabled]:hover,
body .weltpixel-quickview.disabled:focus,
body .weltpixel-quickview[disabled]:focus,
body .weltpixel-quickview.disabled.focus,
body .weltpixel-quickview[disabled].focus,
.page-header .customer-name-wrapper + .links li a .hover-divider,
.header-wrapper .header.links .customer-menu li a:after,
.minicart-wrapper .title-cart .icon,
.product-labels span,
.lightbox-button:hover,
.footer .promo-block .promo-label span,
.footer .links a:before {
  background-color: #4d538c;
}

body .btn.btn-primary{
  background-color: #4d538c;
  border-color: #4d538c;
}
body .btn,
body .weltpixel-quickview,
body.checkout-index-index button[type="submit"],
body .btn.btn-primary.type-2,
button.action-primary,
button.action-secondary,
.product-info-main #product-addtocart-button {
  background-color: #eee;
  border: 1px solid #eee;
  color: #222;
}
body .btn:hover,
body .weltpixel-quickview:hover,
body.checkout-index-index button[type="submit"]:hover,
body .btn.btn-primary.type-2:hover,
.product-info-main #product-addtocart-button:hover,
body .btn:active,
body .weltpixel-quickview:active,
body.checkout-index-index button[type="submit"]:active,
body .btn.btn-primary.type-2:active,
.product-info-main #product-addtocart-button:active
body .btn:focus,
body .weltpixel-quickview:focus,
body.checkout-index-index button[type="submit"]:focus,
body .btn.btn-primary.type-2:focus,
.product-info-main #product-addtocart-button:focus,
button.action-primary:hover,
button.action-primary:active,
button.action-primary:focus,
button.action-secondary:hover,
button.action-secondary:active,
button.action-secondary:focus {
  background-color: #eee;
  color: #fff;
}
.products-grid .btn,
.products-list .btn {
  background-color: transparent;
  border: 1px solid rgba(0,0,0,0.12);
  color: #222;
}
.products-grid .btn i,
.products-list .btn i {
  font-size: 16px;
}


.page-header.header-4 .top-block .right-block {
  float: right;
}
.page-header.header-4 ul.social-links li a {
  font-size: 14px;
}
.page-header.header-4 .header-info i {
  font-size: 16px;
  color: #222;
  vertical-align: middle;
  line-height: 1;
  margin-right: 8px;
  position: relative;
  top: 1px;
}
.page-header.header-4 .header-info {
  font-weight: 400;
  color: #222;
  padding: 9px 0;
}
.page-header.header-4 .phone-number {
  font-weight: 400;
  color: #222;
}
.page-header.header-4 .right-block {
  text-align: right;
}
.page-header.header-4 .right-block > * {
  text-align: left;
}
.page-header.header-4 .top-block ul.social-links {
  border-right: 1px solid rgba(0,0,0,0.08);
  padding-right: 10px;
}
.page-header.header-4 .custom-wish-link {
  padding: 8px 0 8px 19px;
  border-left: 1px solid rgba(0,0,0,0.08);
}
.page-header.header-4 .custom-wish-link a:before {
  font-size: 16px;
}
.page-header.header-4 .custom-wish-link + .options-wrapper {
  padding-right: 0;
  padding-left: 19px;
  margin-left: 19px;
  border-left: 1px solid rgba(0,0,0,0.08);
}
.page-header.header-4 .logo-wrapper {
  float: none;
  display: inline-block;
  text-align: center;
}
.page-header.header-4 .panel {
  float: none;
  display: inline-block;
}
.header-wrapper .header-4 .block-search .input-group {
  border-width: 1px;
  border-color: rgba(0,0,0,0.08);
}
.header-wrapper .header-4 .block-search .search-icon i {
  color: #222;
  font-size: 16px;
}
.header-wrapper .header-4 .block-search input {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.4);
}
.header-wrapper .header-4 .block-search .btn span span {
  display: none;
}
.page-header.header-4 .middle-block .right-block {
  padding-top: 15px;
  padding-bottom: 15px;
}
.page-header.header-4 .minicart-wrapper .title-cart .icon {
  background-color: transparent;
  border: 1px solid rgba(0,0,0,0.08)
}
.page-header.header-4 .minicart-wrapper .title-cart .icon i {
  font-size: 16px;
  color: #222;
  margin-top: 0;
}
.page-header.header-4 .minicart-wrapper .title-cart:hover .icon i,
.page-header.header-4 .minicart-wrapper .title-cart.active .icon i {
  color: #fff;
}
.page-header.header-4 .minicart-wrapper .title-cart {
  font-weight: 400;
}
.header-wrapper .header-4 .menu-wrapper .menu-inner {
  text-align: center;
  margin-bottom: -3px;
}
.page-header.header-4 .header.links li.authorization-link a {
  text-align: left;
}
.page-header.header-4 .options-wrapper .options-dropdown .header.links li a {
  padding: 5px 0;
}
.page-header.header-4 .options-wrapper .options-dropdown .header.links li a:after {
  left: 0;
}
.header-wrapper .header-4 .custom-wish-link + .links li.authorization-link,
.header-wrapper .header-4 .header-switcher + .links li.authorization-link {
  padding-left: 0;
  margin-left: 0;
  border-left: none;
}
.page-header.header-4 .options-wrapper .options-dropdown .header.links li {
  padding-left: 0;
  margin-left: 0;
  border: none;
}
.page-header.header-4 .options-wrapper .options-dropdown .header.links li.customer-welcome .customer-name {
  display: none;
}
.page-header.header-4 .customer-welcome .customer-menu {
  display: block;
}
.page-header.header-4 .customer-welcome ul.header.links {
  position: relative;
  box-shadow: none;
  border: none;
  padding: 0;
}



.options-wrapper .options-block:hover,
.options-wrapper .options-block.open,
.options-wrapper .options-block:hover i,
.options-wrapper .options-block.open i {
  color: #4d538c;
}



.product-labels span {
  padding: 1px 5px;
  color: #fff;
  background-color: #222;
  border-radius: 0;
}
.product-labels.two-items span {
  border-radius: 0 0 0 0;
}
.product-labels.two-items span + span {
  border-radius: 0 0 0 0;
}
.product-labels span.label-sale {
  background-color: #4d538c;
  color: #fff;
}


#home-slider .item .slide-container {
  position: absolute;
  right: 23.5%;
  left: auto;
  top: 35%;
}
#home-slider .item .text {
  color: #fff;
}
#home-slider .item .title {
  color: #fff;
  margin-bottom: 30px;
}
#home-slider .btn {
  padding: 12px 33px;
}
#home-slider .item .slide-container.slide-skin-2 {
  right: auto;
  left: 24.4%;
  top: 33.9%;
}
#home-slider .item .slide-skin-2 .text {
  color: #666;
}
#home-slider .item .slide-skin-2 .title {
  color: #222;
}
.products-grid .btn i,
.products-list .btn i {
  position: relative;
  top: -1px;
}



.footer:before,
.footer:after {
    content: none;
}
body .footer .subscribe-block .background-wrapper {
  background-color: #111;
}
body.wide-layout .footer .footer-middle,
body.boxed-layout .footer .footer-middle .container,
body.wide-layout .footer .footer-bottom,
body.boxed-layout .footer .footer-bottom .container {background-color: #222;}

body.wide-layout .footer .footer-bottom,
body.boxed-layout .footer .footer-bottom .container {
    border-color: rgba(255, 255, 255, .1);
}
.footer .footer-middle,
.footer .footer-bottom,
.footer .text-block strong {
    color: rgba(255, 255, 255, .6);
}
.footer .text-block i {
  color: rgba(255,255,255,0.3);
}
.footer .footer-middle hr.solid,
.footer .footer-bottom hr.solid {
    border-color: rgba(255, 255, 255, .1);
}
.footer .footer-text-block-wrapper .text-block {
    color: #666;
}
.footer .footer-text-block-wrapper .text-block p span {
    color: #aaa;
}
.footer .footer-block-title {
    color: #fff;
}
.footer .links a:before,
.footer .footer-block-title:after {
    background-color: rgba(255, 255, 255, .2);
}
.footer ul.social-links li a {
    color: rgba(255, 255, 255, .6);
}
.footer ul.social-links li a:hover {
    color: rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, .06);
}
.footer .footer-text-block-wrapper .text-block:not(:first-of-type) {
    border-color: rgba(255, 255, 255, .1);
}
.footer .horizontal-links li:not(:first-of-type) a:before {
    background-color: rgba(255, 255, 255, .1);
}
.footer .horizontal-links li a {
    color: #fff;
}
.page-footer .switcher .options strong,
.footer .text-blocks-wrapper .text-item .title,
.footer .promo-wrapper p {
  color: #fff;
}
.footer .switcher .label,
.footer address {
  color: rgba(255, 255, 255, .9);
}
.page-footer .switcher .options .action.toggle {
  color: #fff;
  border-color: rgba(255, 255, 255, .12);
  border-radius: 0;
}
.page-footer .switcher .options .action.toggle:after {
  color: rgba(255, 255, 255, .12);
}
body .footer .subscribe-block .title {
  font-weight: 600;
  font-family: Poppins;
}
.footer .subscribe-block .btn {
  text-transform: uppercase;
  font-weight: 600;
  font-family: Poppins;
}
.footer .footer-block-title {
  font-size: 14px;
  font-weight: 400;
}
.footer .bootstrap-select .selectpicker {
  border-radius: 0;
  min-width: 160px;
}
.text-blocks-wrapper .item-right {
  float: right;
}
.text-blocks-wrapper .text-item .item-right .media-body {
  width: auto;
}
.text-blocks-wrapper .text-item .title {
  font-weight: 400;
}

.footer .store-info {
  float: none;
  display: inline-block;
}



/* Header Options Block */
.options-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 0 11px 12px;

}

.options-wrapper .options-block {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;  line-height: 1;
  cursor: pointer;
  position: relative;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}
.options-wrapper .options-block i {
  font-size: 16px;
  color: #222;
  line-height: 1;
  vertical-align: middle;
  margin-right: 8px;
  position: relative;
  top: 2px;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}
.options-wrapper .options-dropdown {
  width: 220px;
  padding: 15px 20px;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  position: absolute;
  top: 100%;
  display: none;
  clear: both;
  z-index: 9999;
  right: 0;
  color: #222;
  text-align: left;
}
.options-wrapper .options-block i.caret {
  color: rgba(0,0,0,0.2);
  margin-left: 5px;
  position: relative;
  top: -1px;
}
.options-wrapper .options-dropdown .header-switcher {display: block; margin: 0;}
.options-wrapper .options-dropdown .header-switcher .label {display: block; text-align: left; font-size: 14px;  font-family: 'Montserrat'; padding-bottom: 7px;}
.options-wrapper .options-dropdown .header-switcher + .header.links,
.options-wrapper .options-dropdown .header-switcher + .header-switcher {border: none; padding-top: 12px; margin-top: 12px; border-top: 1px solid #ddd;}
.options-wrapper .options-dropdown .header.links li,
.options-wrapper .options-dropdown .header.links li a,
.options-wrapper .options-dropdown .header.links {display: block; float: none;}
.options-wrapper .options-dropdown .header-switcher .options .action.toggle:hover,
.options-wrapper .options-dropdown .header-switcher .options .action.toggle.active {color: #3e528f;}
.options-wrapper .options-dropdown .header.links li a:hover {background-color: transparent;}
.options-wrapper .options-dropdown .header.links li a {border: none; padding: 3px 0;}





@media only screen and (min-width: 1332px){
  .header-wrapper .header-4 .toggle-nav {
    float: none;
    display: inline-block;
    margin-bottom: -3px;
  }

}
@media only screen and (min-width: 1008px) and (max-width: 1331px) {
  .header-wrapper .header-4 .toggle-nav {
    float: none;
    display: inline-block;
    margin-bottom: -3px;
  }
  .page-header.header-4 .right-block {
    float: right;
    border: none;
  }
  .page-header.header-4 .header-info {
    font-size: 12px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .page-header.header-4 .welcome-msg {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  #home-slider .item .slide-container.slide-skin-2,
  #home-slider .item .slide-container {
    bottom: auto;
    top: 15%;
  }
  #home-slider .item .slide-container.slide-skin-2 {
    left: 14.4%;
  }

}
@media only screen and (min-width: 768px) and (max-width: 1007px) {
  .page-header.header-4 .header-info {
    font-size: 12px;
  }
  .page-header.header-4 .top-block .center-block {
    text-align: right;
  }
  .page-header.header-4 .block-search {
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .page-header.header-4 .middle-block .right-block {
    text-align: center;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .page-header.header-4 .minicart-wrapper {
    float: none;
    display: inline-block;
  }
  #home-slider .item .slide-container {
    top: 23%;
  }
  .footer .store-info {
    display: block;
  }

}
@media only screen and (max-width: 767px) {
  .page-header.header-4 .top-block ul.social-links {
    padding: 0;
    border: none;
  }
  .page-header.header-4 .top-block .center-block {
    text-align: right;
  }
  .page-header.header-4 .header-info {
    padding-bottom: 15px;
  }
  .page-header.header-4 .right-block,
  .page-header.header-4 .middle-block .right-block {
    text-align: center;
    float: none;
  }
  .page-header.header-4 .block-search {
    padding-bottom: 15px;
  }
  .page-header.header-4 .middle-block .right-block {
    padding-top: 0;
    padding-bottom: 0;
  }
  .page-header.header-4 .logo-wrapper {
    display: block;
    text-align: center;
    padding-top: 20px;
  }
  .page-header.header-4 .minicart-wrapper {
    float: none;
    display: inline-block;
  }
  .page-header.header-4 .nav-toggle + .minicart-wrapper {
    margin-left: 10px;
  }
  .page-header.header-4 .search-mini-form {
    padding-bottom: 10px;
  }
  .page-header.header-4 .middle-block .container {
    padding-bottom: 15px;
  }
  .page-header.header-4 .minicart-wrapper .block-minicart {
      right: 50%;
      -o-transform: translateX(50%);
      -ms-transform: translateX(50%);
      -moz-transform: translateX(50%);
      -webkit-transform: translateX(50%);
      transform: translateX(50%);
  }
  .account-language-currency-dropdown:before {
    right: 49%;
  }

  .footer .store-info {
    display: block;
    text-align: left;
  }
  .text-blocks-wrapper .text-item {
    float: none !important;
  }
  .text-blocks-wrapper .item-right {
    float: none;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {


}
