html body,
.custom-price-wrapper .price-text,
.text-banner .banner-price-wrapper .banner-price-text,
.filter-options-title {
    font-family: 'Libre Franklin', sans-serif;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6,
body .btn,
body .weltpixel-quickview,
body.checkout-index-index button[type="submit"],
.product-info-main #product-addtocart-button,
.page-header .welcome,
.page-header .header-info,
.header.links li.authorization-link a,
.page-header .customer-name .user-icon,
.customer-welcome .customer-name,
.header-wrapper .header.links .customer-menu li a,
.header-wrapper .header.links .customer-menu li.authorization-link a,
.header-wrapper .block-search .btn,
.header-wrapper .navbar-collapse.collapse a.level-top,
.minicart-wrapper .title-cart,
.block-minicart .subtotal,
.page-header .header-custom-block-wrapper,
.page-header .action.nav-toggle,
.page-header .header-switcher ul li a,
.page-header .header-switcher ul li span,
.page-header .header-switcher .switcher-trigger span,
.custom-price-wrapper,
.text-banner .banner-price-wrapper,
.text-banner .banner-label,
.text-banner .title,
.text-banner .strong-title,
.text-banner .subtitle,
.text-blocks-wrapper .text-item .title,
.parallax-banners-wrapper .banner-content .title,
.parallax-banners-wrapper .banner-content .subtitle,
.parallax-banners-wrapper .banner-content .text,
#home-slider .item .title,
.page-title,
.product-item-name a,
.price,
.product-labels span,
.product-info-main .product-options-wrapper .label,
.product-info-main .product-options-wrapper .swatch-attribute-label,
#tabs .nav-tabs li a,
.related .block-actions .action,
.reviews-wrapper .review-title,
.customer-review.view .review-details .title,
.customer-review.view .review-title,
.block-title,
.sidebar .block .block-title,
.block-collapsible-nav-title,
.sidebar .block li a,
.sidebar .block li strong,
.block-reviews-dashboard ol li .product-name a,
.table.totals th,
.table.totals td,
.table-caption,
.multicheckout .block .title,
.checkout-container .opc-progress-bar-item > span:after,
.opc-wrapper .step-title,
.opc-block-shipping-information .shipping-information-title,
.opc-block-summary > .title,
.checkout-agreements-items .checkout-agreements-item-title,
.checkout-payment-method .payment-method-title,
.checkout-payment-method .payment-option-title .action-toggle,
.cart-totals tbody .mark,
.cart-totals tfoot .mark,
.opc-block-summary .table-totals tbody .mark,
.opc-block-summary .table-totals tfoot .mark,
.cart-totals .grand .mark strong,
body .footer .subscribe-block .title {
  font-family: 'Titillium Web', sans-serif;
}

body a:hover,
body a:focus,
.skincolor-2,
.page-header .header-switcher .options .action.toggle:hover,
.page-header .header-switcher .options .action.toggle.active,
.header.links li.authorization-link a:hover,
.page-header .customer-name-wrapper + .links li a i,
.page-header .customer-name-wrapper + .links li a:hover,
.customer-welcome .customer-name.active,
.customer-welcome .customer-name:hover,
.header-wrapper .header.links .customer-menu li a:hover,
.header-wrapper .header.links .customer-menu li.authorization-link a:hover,
.navigation .level0 .submenu a:hover,
.navigation .level0 .submenu a.ui-state-focus,
.navigation .level0 .submenu .active > a,
.block-minicart .subtotal .label,
.block-minicart .subtotal .price-container,
.minicart-wrapper .actions div.secondary .btn:hover,
.minicart-items .action.edit:hover,
.minicart-items .action.delete:hover,
.page-header .custom-wish-link a:hover,
.page-header .custom-wish-link a:focus,
.page-header .custom-wish-link a:active,
.text-banner .title.skincolor-2,
.text-banner .title .skincolor-2,
.text-banner .subtitle.skincolor-2,
.text-banner .subtitle .skincolor-2,
.text-banner .text.skincolor-2,
.text-banner .text .skincolor-2,
.text-banner .skincolor-2,
.price,
.account .content-inner a:hover,
.block-dashboard-addresses .block-title a :hover,
.block-dashboard-info .block-title a i:hover,
.box .box-title a i:hover,
#my-orders-table a:hover,
.footer .footer-middle .contacts-block i,
.footer a:hover {
    color: #ff5a00;
}

.skincolor-2-bg,
body .btn.btn-primary:hover,
body .btn.btn-primary:active,
body .btn.btn-primary:focus,
body .btn.btn-primary.hover,
body .btn.btn-primary.active,
body .btn.btn-primary.focus,
body .btn.btn-primary.disabled:hover,
body .btn.btn-primary[disabled]:hover,
body fieldset[disabled] .btn.btn-primary:hover,
body .btn.btn-primary.disabled:focus,
body .btn.btn-primary[disabled]:focus,
body fieldset[disabled] .btn.btn-primary:focus,
body .btn.btn-primary.disabled.focus,
body .btn.btn-primary[disabled].focus,
body fieldset[disabled] .btn.btn-primary.focus,
body .weltpixel-quickview:hover,
body .weltpixel-quickview:active,
body .weltpixel-quickview:focus,
body .weltpixel-quickview.hover,
body .weltpixel-quickview.active,
body .weltpixel-quickview.focus,
body .weltpixel-quickview.disabled:hover,
body .weltpixel-quickview[disabled]:hover,
body .weltpixel-quickview.disabled:focus,
body .weltpixel-quickview[disabled]:focus,
body .weltpixel-quickview.disabled.focus,
body .weltpixel-quickview[disabled].focus,
.page-header .customer-name-wrapper + .links li a .hover-divider,
.header-wrapper .header.links .customer-menu li a:after,
.minicart-wrapper .title-cart .icon,
.product-labels span,
.lightbox-button:hover,
.footer .promo-block .promo-label span,
.footer .links a:before {
  background-color: #ff5a00;
}

body .btn.btn-primary,
body .weltpixel-quickview {
  background-color: #ff5a00;
  border-color: #ff5a00;
}






.wide-layout .page-header.header-3 .top-block,
.boxed-layout .page-header.header-3 .top-block .container {
    background-color: #252a6a;
}
.wide-layout .page-header.header-3 .middle-block,
.boxed-layout .page-header.header-3 .middle-block .container,
.wide-layout .page-header.header-3 .menu-wrapper,
.boxed-layout .page-header.header-3 .menu-wrapper .container {
    background-color: #393b7d;
}
body .page-header.header-3 {
    color: rgba(255,255,255,0.6);
}
.page-header.header-3 .welcome {
    font-family: 'Libre Franklin', sans-serif;
}
.page-header.header-3 .logo-wrapper {
    padding-top: 17px;
    padding-bottom: 0;
}
.page-header.header-3 .middle-block .right-block {
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
}
.page-header.header-3 .middle-block .right-block > * {
    text-align: left;
}
.page-header.header-3 .header-info {
  color:  rgba(255,255,255,0.6);
  font-size: 18px;
  font-weight: 600;
  padding: 21px 10px 21px 0;
  display: inline-block;
  float: none;
}
.page-header.header-3 .phone-number {
  color: #fff;
  font-weight: 700;
  display: block;
  line-height: 1;
}
.page-header.header-3 .header-info i {
  font-size: 24px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}
.page-header.header-3 .header-custom-links + .header-switcher,
.page-header.header-3 .header-switcher + .header-switcher,
.page-header.header-3 .header-switcher + .custom-wish-link,
.page-header.header-3 .custom-wish-link + .links li.authorization-link,
.page-header.header-3 .header-switcher + .links li.authorization-link,
.page-header.header-3 .custom-wish-link + .links .customer-welcome,
.page-header.header-3 .header-switcher + .links .customer-welcome {
    border-left-color: rgba(255,255,255,0.08);
}
.page-header.header-3 .minicart-wrapper .title-cart .counter-number,
.page-header.header-3 .minicart-wrapper .title-cart .divider {
    color: rgba(255,255,255,0.6);
}
.page-header.header-3 .minicart-wrapper .title-cart .subtotal .price {
    color: #fff;
}
.header-wrapper .page-header.header-3 .menu-wrapper .menu-inner {
        border-top-color: rgba(255,255,255,0.08);
}
.header-wrapper .page-header.header-3 .block-search {
    width: 470px;
    padding: 9px 0;
    margin-left: 20px;
    float: right;
}

.header-wrapper .page-header.header-3 ul.social-links {
    padding: 16px 0;
}
.header-wrapper .page-header.header-3 ul.social-links li a {
    color: rgba(255,255,255,0.7);
}
.header-wrapper .page-header.header-3 ul.social-links li a:hover {
    background-color: rgba(255,255,255,0.1);
}
.header-wrapper .page-header.header-3 .block-search .input-group {
    background-color: rgba(255,255,255,0.1);
}
.header-wrapper .page-header.header-3 .block-search .search-icon i {
    color: rgba(255,255,255,0.3);
}
body .header-wrapper .page-header.header-3 .block-search .btn:after {
    background-color: rgba(255,255,255,0.2);
}
.header-wrapper .page-header.header-3 .block-search .btn,
.header-wrapper .page-header.header-3 .block-search input {
    color: #fff;
}
.header-wrapper .page-header.header-3 .block-search input::-webkit-input-placeholder {
    color: #fff;
}
.header-wrapper .page-header.header-3 .block-search input::-moz-placeholder {
    color: #fff;
}
.header-wrapper .page-header.header-3 .block-search input:-ms-input-placeholder {
    color: #fff;
}
.header-wrapper .page-header.header-3 .block-search input:-moz-placeholder {
    color: #fff;
}
.header-wrapper .page-header.header-3 .block-search .btn:before {
    background-color: rgba(255,255,255,0.08);
}
.page-header .action.nav-toggle {
    color: #fff;
    margin: 10px 0;
}
.header-wrapper .page-header.header-3 .block-search .btn span span {
    position: relative;
    top: -3px;
}
.header-wrapper .page-header.header-3 .block-search .btn i {
    position: relative;
    top: -2px;
}
.header-wrapper .page-header.header-3 .navbar-collapse.collapse a.level-top {
    line-height: 1.38;
}
.page-header.header-3 .header.links li.authorization-link a:hover,
.page-header.header-3 .header-switcher:hover .options strong,
.page-header.header-3 .header-switcher:hover .options .action.toggle:after,
.page-header.header-3 .header-switcher .options.active .action.toggle:after,
.page-header.header-3 .header-switcher .options.active strong,
.page-header.header-3 .customer-welcome .customer-name:hover {
    color: #ff5a00;
}


.product-labels span {
    padding: 1px 5px;
}
.home-sidebar {
    float: left;
    padding-left: 0;
    padding-right: 0;
}
.slider-wrapper {
    padding-left: 0;
    padding-right: 0;
    border-left: 1px solid #ddd;
}
.slider-banners {
    padding-left: 0;
    padding-right: 0;
}
.content-wrapper .text-banner {
    border: 1px solid #ddd;
}
.slider-wrapper .text-banner {
    border-left-width: 0;
    border-right-width: 0;
    margin-top: -2px;
    position: relative;
    z-index: 1;
}
.slider-banners .text-banner {
    float: left;
    width: 50%;
    margin-top: -1px;
    border-top-color: transparent;
}
.slider-banners .text-banner:nth-child(2n){
    border-left-color: transparent;
}

#home-slider .item .slide-container {
    left: auto;
    right: 38%;
    top: 9%;
}
#home-slider .item .title {
    font-size: 26px;
    line-height: 30px;
    color: #aaa;
    letter-spacing: -1px;
}
#home-slider .item .title strong {
    font-weight: 700;
}
#home-slider .item .text {
    margin-bottom: 10px;
}
#home-slider .item .slide-container.slide-skin-2 {
    left: auto;
    right: 26.2%;
    top: 7.9%;
}
.sorter .bootstrap-select > .selectpicker,
#ajaxkit-popup-content .input-group,
#ajaxkit-login-form-validate .input-group {
    border-radius: 0
}
.cms-index-index .content-wrapper {
    overflow: hidden;
}

.text-blocks-wrapper .text-item .title {font-weight: 700;}
body .widget .widget-title,
.widget-title {
    padding-bottom: 27px;
}
body .widget-title h2,
body .widget-title h3,
body .widget .widget-title h2,
body .widget .widget-title h3 {
    color: #222222;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
}
.products-grid .item .btn i,
.products-list .item .btn i {
    position: relative;
    top: -1px;
}


.footer .promo-block .promo-label span {
    background-color: #d02323;
}
.footer .promo-block .promo-label span:before {
    border-bottom-color: #252a6a;
}
.footer:before,
.footer:after {
    content: none;
}
body.wide-layout .footer .footer-middle,
body.boxed-layout .footer .footer-middle .container,
body.wide-layout .footer .footer-bottom,
body.boxed-layout .footer .footer-bottom .container {background-color: #252a6a;}

body.wide-layout .footer .footer-bottom,
body.boxed-layout .footer .footer-bottom .container {
    border-color: rgba(255, 255, 255, .1);
}
.footer .footer-middle,
.footer .footer-bottom {
    color: rgba(255, 255, 255, .6);
}
.footer .footer-middle hr.solid,
.footer .footer-bottom hr.solid {
    border-color: rgba(255, 255, 255, .1);
}
.footer .text-block strong {
    color: #fff;
}
.footer .footer-text-block-wrapper .text-block {
    color: #666;
}
.footer .footer-text-block-wrapper .text-block p span {
    color: #aaa;
}
.footer .footer-block-title {
    color: #fff;
}
.footer .links a:before,
.footer .footer-block-title:after {
    background-color: rgba(255, 255, 255, .2);
}
.footer ul.social-links li a {
    color: rgba(255, 255, 255, .6);
}
.footer ul.social-links li a:hover {
    color: rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, .06);
}
.footer .footer-text-block-wrapper .text-block:not(:first-of-type) {
    border-color: rgba(255, 255, 255, .1);
}
.footer .horizontal-links li:not(:first-of-type) a:before {
    background-color: rgba(255, 255, 255, .1);
}
.footer .horizontal-links li a {
    color: #fff;
}
.page-footer .switcher .options strong,
.footer .promo-wrapper p {
    color: #fff;
}
.footer .switcher .label,
.footer address {
    color: rgba(255, 255, 255, .9);
}
.page-footer .switcher .options .action.toggle {
    color: #fff;
    border-color: rgba(255, 255, 255, .12);
    border-radius: 0;
}
.page-footer .switcher .options .action.toggle:after {
    color: rgba(255, 255, 255, .12);
}

body .footer .subscribe-block .block-title {
    font-weight: 700;
}
body .footer .subscribe-block .btn {
    text-transform: uppercase;
    font-weight: 700;
}
.footer .footer-block-title {
    font-size: 16px;
    font-weight: 700;
}
.footer .bootstrap-select .selectpicker {
    border-radius: 0;
    min-width: 160px;
}

@media only screen and (min-width: 1332px){
    .header-wrapper .header-3 .navbar-collapse.collapse a.level-top {color: #fff;}
    .header-wrapper .header-3 .navbar-collapse.collapse a.level-top.ui-state-focus,
    .header-wrapper .header-3 .navbar-collapse.collapse a.level-top.ui-state-active {background-color: rgba(255,255,255,0.1); color: #fff;}
    .header-wrapper .header-3 .navbar-collapse.collapse li.active > a.level-top,
    .header-wrapper .header-3 .navbar-collapse.collapse li.active > a.level-top.ui-state-active,
    .header-wrapper .header-3 .navbar-collapse.collapse li.active > a.level-top.ui-state-focus {background-color: rgba(255,255,255,0.1); color: #fff; border-color: rgba(255,255,255,0.1);}
    .header-wrapper .header-3 .navbar-collapse.collapse .parent a.level-top.ui-state-focus,
    .header-wrapper .header-3 .navbar-collapse.collapse .parent a.level-top.ui-state-active {
        background-color: rgba(255,255,255,0.1);
        color: #fff;
    }
    .header-wrapper .header-3 .navbar-collapse.collapse li.active > a.level-top .ui-menu-icon:after,
    .header-wrapper .header-3 .navbar-collapse.collapse li.active > a.level-top.ui-state-focus .ui-menu-icon:after,
    .header-wrapper .header-3 .navbar-collapse.collapse li.active > a.level-top.ui-state-active .ui-menu-icon:after {color: #fff;}
    .header-wrapper .header-3 .navbar-collapse.collapse a.level-top .ui-menu-icon:after {color: rgba(255,255,255,0.3);}
    .page-header.header-3 .header.links li.authorization-link a,
    .page-header.header-3 .header-switcher .options strong,
    .page-header.header-3 .customer-welcome .customer-name {
        color: #fff;
    }
    .page-header.header-3 .header-switcher .options .action.toggle:after {
        color: rgba(255,255,255,0.2);
    }
    .page-header.header-3 .custom-wish-link a {
        color: rgba(255,255,255,0.4);
    }

    .slider-wrapper {
        width: 60.784%;
    }
    .slider-banners {
        width: 39.216%;
    }
    body .footer .subscribe-block .block-title {
        font-size: 25px;
    }
}

@media only screen and (min-width: 1008px) and (max-width: 1331px) {
    .header-wrapper .header-3 .navbar-collapse.collapse a.level-top {color: #fff;}
    .header-wrapper .header-3 .navbar-collapse.collapse a.level-top.ui-state-focus,
    .header-wrapper .header-3 .navbar-collapse.collapse a.level-top.ui-state-active {background-color: rgba(255,255,255,0.1); color: #fff;}
    .header-wrapper .header-3 .navbar-collapse.collapse li.active > a.level-top,
    .header-wrapper .header-3 .navbar-collapse.collapse li.active > a.level-top.ui-state-active,
    .header-wrapper .header-3 .navbar-collapse.collapse li.active > a.level-top.ui-state-focus {background-color: rgba(255,255,255,0.1); color: #fff; border-color: rgba(255,255,255,0.1);}
    .header-wrapper .header-3 .navbar-collapse.collapse li.active > a.level-top .ui-menu-icon:after,
    .header-wrapper .header-3 .navbar-collapse.collapse li.active > a.level-top.ui-state-focus .ui-menu-icon:after,
    .header-wrapper .header-3 .navbar-collapse.collapse li.active > a.level-top.ui-state-active .ui-menu-icon:after {color: #fff;}
    .header-wrapper .header-3 .navbar-collapse.collapse a.level-top .ui-menu-icon:after {color: rgba(255,255,255,0.3);}
    .page-header.header-3 .header.links li.authorization-link a,
    .page-header.header-3 .header-switcher .options strong,
    .page-header.header-3 .customer-welcome .customer-name {
        color: #fff;
    }
    .page-header.header-3 .header-switcher .options .action.toggle:after {
        color: rgba(255,255,255,0.2);
    }
    .page-header.header-3 .custom-wish-link a {
        color: rgba(255,255,255,0.4);
    }
    .page-header.header-3  .right-block {
        float: right;
        text-align: right;
        border: none;
    }
    .page-header.header-3 .top-block {
        text-align: left;
    }
    .page-header.header-3 .logo-wrapper {
        float: left;
        display: block;
    }
    .page-header.header-3 .header-info {
        font-size: 15px;
        padding: 16px 0;
    }
    .header-wrapper .page-header.header-3 .block-search {
        width: 330px;
    }
    .header-wrapper .page-header.header-3 .block-search input {
        font-size: 12px;
    }
    .header-wrapper .page-header.header-3 .block-search input::-webkit-input-placeholder {
        font-size: 12px;
    }
    .header-wrapper .page-header.header-3 .block-search input::-moz-placeholder {
        font-size: 12px;
    }
    .header-wrapper .page-header.header-3 .block-search input:-ms-input-placeholder {
        font-size: 12px;
    }
    .header-wrapper .page-header.header-3 .block-search input:-moz-placeholder {
        font-size: 12px;
    }

    .slider-wrapper {
        width: 60.76%;
    }
    .slider-banners {
        width: 39.24%;
    }
    .home-sidebar {
        display: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1007px) {


    .page-header.header-3 .right-block {
        float: right;
    }
    .page-header.header-3 .middle-block .right-block {
        float: right;
        padding-top: 0;
        padding-bottom: 0;
    }
    .page-header.header-3 .logo-wrapper {
        padding-bottom: 17px;
        padding-top: 0;
    }
    .page-header.header-3 .header-info {
        padding: 9px 0;
    }
    .page-header.header-3 .title-cart {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header-wrapper .page-header.header-3 .block-search {
        width: 400px;
    }

    .slider-wrapper {
        width: 60.76%;
    }
    .slider-banners {
        width: 39.24%;
    }
    #home-slider .item .title {
        font-size:  17px;
        line-height: 17px;
    }

}
@media only screen and (max-width: 767px) {
    .page-header.header-3 .middle-block .right-block {
        text-align: center;
    }
    .header-wrapper .page-header.header-3 .block-search {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
    }
    .page-header.header-3 .logo-wrapper {
        padding-bottom: 17px;
    }
    .page-header.header-3 .header-info {
        padding: 5px 0px 10px;
        text-align: center;
    }
    .page-header.header-3 .minicart-wrapper {
        display: inline-block;
        float: none;
    }
    .page-header.header-3 ul.social-links {
        padding: 12px 0;
        float: right;
    }
    .page-header.header-3 ul.social-links li a {
        height: 30px;
        width: 30px;
        line-height: 30px;
        font-size: 14px;
    }
    .page-header.header-3 .middle-block .right-block > * {
        text-align: center;
    }
    .page-header.header-3 .action.nav-toggle {
        margin: 6px 0;
    }
    .page-header.header-3 .minicart-wrapper .block-minicart {
        right: 50%;
        -o-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
    #home-slider .item .slide-container {
        right: 18%;
    }
    #home-slider .item .slide-container.slide-skin-2 {
        right: 16.2%;
    }
    #home-slider .item .title {
        font-size:  17px;
        line-height: 17px;
    }
    .home-slider-wrapper {
        border: 1px solid #ddd;
    }
    .slider-wrapper {border-left: none;}
    .slider-wrapper .text-banner {
        border-left-width: 1px;
        border-right-width: 1px;
    }
    .slider-wrapper + .slider-banners {
        margin-top: 0;
    }


}
@media only screen and (min-width: 480px) and (max-width: 767px) {


}
