.menu-inner,
#sticky-header .container {
  position: relative;
}
.megamenu .nav > li {
  position: static;
}
.megamenu .nav > li[data-fixed-width],
.megamenu .nav li a {
  position: relative;
}
#sticky-megamenu ul.level0 li.level1 ul.level1,
#megamenu ul.level0 li.level1 ul.level1 {
    margin: 0 0 1em !important;
    padding-left: 0;
}
#sticky-megamenu .megamenu-center-block,
#megamenu .megamenu-center-block {
  margin: 0 -10px;
}
#sticky-megamenu .megamenu-center-block:before,
#sticky-megamenu .megamenu-center-block:after,
#megamenu .megamenu-center-block:before,
#megamenu .megamenu-center-block:after {
  content: '';
  display: table;
  clear: both;
}
#megamenu .megamenu-wrapper .left-column,
#sticky-megamenu .megamenu-wrapper .left-column {
  float: left;
  padding: 0 10px;
}
#megamenu .megamenu-wrapper ul.submenu,
#sticky-megamenu .megamenu-wrapper ul.submenu {
  display: block;
  position: static;
  background: transparent;
  box-shadow: none;
  padding: 0;
  min-width: 1px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
#sticky-megamenu .megamenu-wrapper ul.level0:before,
#sticky-megamenu .megamenu-wrapper ul.level0:after,
#megamenu .megamenu-wrapper ul.level0:before,
#megamenu .megamenu-wrapper ul.level0:after {
  clear: both;
  content: '';
  display: table;
}
#sticky-megamenu .megamenu-wrapper ul.level0 > li,
#megamenu .megamenu-wrapper ul.level0 > li {
  float: left;
  padding: 0 10px;
}
#sticky-megamenu .megamenu-wrapper .right-column,
#megamenu .megamenu-wrapper .right-column {
  float: left;
  padding: 0 10px;
}
.megamenu-wrapper .category-label,
.category-label {
  display: none;
}
.megamenu-wrapper a[data-bold-link='1'] {
  font-weight: bold !important;
  background-color: rgba(0,0,0,0);
  color: #222222 !important;
}
body p.category-image {
  display: none;
}

/* Megamenu desctop */
@media only screen and (min-width: 978px) {
  .megamenu-wrapper {
    color: #222;
    display: none;
    padding: 30px 30px 40px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
    border-radius: 0 0 4px 4px;
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    display: block;
    -webkit-transition: opacity .25s ease, transform .25s ease;
    -moz-transition: opacity .25s ease, transform .25s ease;
    -ms-transition: opacity .25s ease, transform .25s ease;
    -o-transition: opacity .25s ease, transform .25s ease;
    transition: opacity .25s ease, transform .25s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-15px);
    z-index: -10;
    left: -100000%;
    background-repeat: no-repeat;
  }
  .megamenu-wrapper > div {
    -webkit-transition: opacity .35s ease-in, transform .35s ease-in;
    -moz-transition: opacity .35s ease-in, transform .35s ease-in;
    -ms-transition: opacity .35s ease-in, transform .35s ease-in;
    -o-transition: opacity .35s ease-in, transform .35s ease-in;
    transition: opacity .35s ease-in, transform .35s ease-in;
    opacity: 0;
    left: -100000%;
    visibility: hidden;
    transform: translateY(-15px);
  } 
  #sticky-megamenu li.level0 .megamenu-wrapper ul,
  #megamenu li.level0 .megamenu-wrapper ul {
    border: none;
  }
  #sticky-megamenu  .level0:not(.default-menu) .submenu li,
  #megamenu  .level0:not(.default-menu) .submenu li {
    border: none;
  }
  .megamenu .level0:not(.default-menu) .submenu li.parent > a:after {
    content: none;
  }

  #sticky-megamenu  ul.level0:not(.default-menu) li.level1 > a,
  #megamenu ul.level0:not(.default-menu) li.level1 > a {
    background-color: rgba(0,0,0,0);
    color: #222222;
    padding: .4em 8px 15px 8px;
  }
  #sticky-megamenu .topmenu ul.level0:not(.default-menu) li.level1 > a span,
  #megamenu .topmenu ul.level0:not(.default-menu) li.level1 > a span {
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
    color: inherit;
    font-size: 16px;
  }
  .megamenu-wrapper li.parent > a .ui-menu-icon {
    display: none !important;
  }
  #sticky-megamenu .topmenu .megamenu-wrapper ul.level1 a,
  #megamenu .topmenu .megamenu-wrapper ul.level1 a {
    position: relative;
    text-transform: none;
    font-size: 1em;
    line-height: 1.5em;
    display: block;
    font-size: 13px;
    color: #888;
    padding: .4em 8px;
    background-color: transparent;
  }
  #sticky-megamenu .level0 .submenu .submenu,
  #megamenu .level0 .submenu .submenu {
    top: 0 !important;
  }
  .megamenu-wrapper .bottom-content {
    margin-top: 21px;
  }
  body p.category-image {
    display: block;
    margin-bottom: 19px;
  }
  li.menu-active .megamenu-wrapper {
    transform: translateY(0);
    top: auto;
    display: block !important;
    visibility: visible;
    left: 0;
    right: 0;
    z-index: 999;
    opacity: 1;
  }
  li.menu-active .megamenu-wrapper > div {
    opacity: 1;
    visibility: visible;
    display: block;
    transform: translateY(0);
    z-index: 999;
    left: 0;
  }
  .megamenu-wrapper .category-label,
  .category-label {
    display: block;
    transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -webkit-transition: background-color 300ms linear;
    font-style: normal;
    padding: 3px 5px;
    z-index: 3;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 9px;
    line-height: 1.1em;
    border-radius: 0;
    text-transform: uppercase;
    margin: 0 0 0 5px;
    background-color: transparent;
    top: -1px;
    left: auto;
    bottom: auto;
    position: relative;
    vertical-align: middle;
    display: inline-block;
  }
  a.level-top .category-label {
    position: absolute;
    top: 3px;
    left: 20px;    
  }
  a.level-top .category-label {
    position: absolute;
    top: -3px;
    left: 15px;
    padding: 2px 5px;    
  }
  /* .megamenu .default-menu li.parent > a:after {
    content: '\0044';
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 50%;
    font-family: 'meigee';
    font-style: normal;
    font-size: 11px;
    font-weight: normal;
    line-height: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */
  #sticky-megamenu .category-label {
  }
  .category-label.label-one {
    background-color: #eecc5f;
    color: #4f421f;
  }
  .category-label.label-two {
    background-color: #465362;
  }
  .category-label.label-three {
    background-color: #52bf49;
  }
  
  
  /**** Default Menu ****/
  .megamenu .nav .default-menu-parent {
    position: relative;
  }
  .megamenu .nav .default-menu-parent.menu-active .default-menu {
    display: block;
  }
}

/*Tabs menu Vertical*/

@media only screen and (min-width: 1008px) {
  .megamenu .megamenu-wrapper.tabs-menu {
  padding-top: 16px;
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical {
  padding: 0;
  overflow: hidden;
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical ul.level0 {
    padding-top: 16px;
  }
  .header-wrapper .navbar-collapse.collapse li.level-top.default-menu-parent,
  .megamenu .megamenu-wrapper.tabs-menu ul.level0 {
    position: relative;
  }
  .megamenu li.level-top.default-menu-parent .level0.submenu {
    top: 100%;
    margin-top: 0;
  }
  .megamenu .megamenu-wrapper.tabs-menu li.level1 {
    position: static;
    display: block;
    clear: both;
    width: 100% !important;
  }
  .megamenu .megamenu-wrapper.tabs-menu li.level1 > a {
    position: relative;
    padding: .7em;
    border: none;
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 > a {
    padding-left: 40px;
    padding-right: 40px;
  }
  .megamenu .megamenu-wrapper.tabs-menu li.level1 > a:hover,
  .megamenu .megamenu-wrapper.tabs-menu li.level1.over > a {
    background-color: rgba(0,0,0, 0.06);
    color: #111;
  }
  .megamenu .megamenu-wrapper.tabs-menu li.level1 > a span {
    color: inherit !important;
    margin-bottom: 0 !important;
  }
  .megamenu .megamenu-wrapper.tabs-menu ul.level1 li.level1.parent:not([data-bold-link='1']) > a:after,
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1.parent > a:after {
    content: "";
    display: inline-block !important;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid rgba(0, 0, 0, .3);
    vertical-align: middle;
    font-weight: normal;
    text-transform: none;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #sticky-megamenu .megamenu-wrapper.tabs-menu  li.level1,
  #megamenu .megamenu-wrapper.tabs-menu li.level1 {
    padding-left: 0;
    padding-right: 0;
  }
  #sticky-megamenu .megamenu-wrapper.tabs-menu  ul.level0:not(.default-menu) li.level1 > a,
  #megamenu .megamenu-wrapper.tabs-menu ul.level0:not(.default-menu) li.level1 > a {
    padding: 1em 1.5em;
    border: none;
    color: #888;
  }
  #sticky-megamenu .megamenu-wrapper.tabs-menu  li.level1 > a:hover,
  #sticky-megamenu .megamenu-wrapper.tabs-menu  li.level1 > a:hover,
  #sticky-megamenu .megamenu-wrapper.tabs-menu  li.level1 > a:hover,
  #megamenu .megamenu-wrapper.tabs-menu li.level1 > a:hover {
    padding: 1em 1.5em;
    border: none;
    color: #888;
  }
  .megamenu .megamenu-wrapper.tabs-menu li.level1 > ul {
    background-color: #fff;
    width: auto;
    left: auto;
    float: left;
    position: absolute;
    top: 0;
    height: auto;
    display: none;
    text-align: center;
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical ul.level0 li.level1 > .megamenu-wrapper {
    top: 0 !important;
    right: 0;
    width: auto;
    right: 0;
    padding: 10px 20px 20px;
    margin-left: 0;
    border: none;
    margin-left: 20px;
  }
  .megamenu .megamenu-wrapper.tabs-menu ul.level0 li.level1 > .megamenu-wrapper,
  .megamenu .megamenu-wrapper.tabs-menu ul.level0 li.level1 > .megamenu-wrapper > div {
    visibility: visible;
    transform: translateY(0);
    transition: all 0s;
    margin-top: 0;
    padding-bottom: 20px;
    left: 0;
  }
  .megamenu .megamenu-wrapper.tabs-menu ul.level0 li.level1:first-of-type > .megamenu-inner,
  .megamenu .megamenu-wrapper.tabs-menu ul.level0 li.level1:first-of-type > .megamenu-wrapper,
  .megamenu .megamenu-wrapper.tabs-menu ul.level0 li.level1:first-of-type > .megamenu-wrapper > div,  
  .megamenu .megamenu-wrapper.tabs-menu ul.level0 li.level1:hover > .megamenu-inner,
  .megamenu .megamenu-wrapper.tabs-menu ul.level0 li.level1:hover > .megamenu-wrapper,
  .megamenu .megamenu-wrapper.tabs-menu ul.level0 li.level1:hover > .megamenu-wrapper > div {
    z-index: 8;
    opacity: 1;
    visibility: visible;
  }
  #megamenu .megamenu .megamenu-wrapper.tabs-menu ul.level0 li.level1:hover > a,
  #sticky-megamenu  .megamenu .megamenu-wrapper.tabs-menu ul.level0 li.level1:hover > a {
    color: #222222;
    background-color: rgba(0,0,0,0.06);
  }
  .megamenu .megamenu-wrapper.tabs-menu ul.level0 li.level1:first-of-type > .megamenu-inner {
    opacity: 1;
  }
  .nav .megamenu-wrapper.tabs-menu ul.level0 li.level1 > a i.custom-icon {
    left: 10px;
    font-size: 14px;
    top: calc(50% - 8px);
  }
  .nav .megamenu-wrapper.tabs-menu ul.level0 li.level1 > a i.custom-icon + span.subtitle,
  .megamenu .megamenu-wrapper.tabs-menu .megamenu-wrapper.default-menu ul.level0 li.level1 > a i.custom-icon + span.subtitle {
    padding-left: 27px;
  }
  .megamenu .megamenu-wrapper.tabs-menu li.level1.over > ul {
    display: block;
  }
  .megamenu .megamenu-wrapper.tabs-menu ul.level0 li.level1 > .category-image {
    display: none;
  }
  .megamenu .megamenu-wrapper.tabs-menu .menu-category-slider {
    margin-top: 10px;
  }
  .megamenu .megamenu-wrapper.tabs-menu li.level1 > .megamenu-inner {
    width: auto;
    position: absolute;
    right: 0;
    left: 25%;
    top: 0;
    padding: 0;
    margin-left: 20px;
    opacity: 0;
    z-index: -1;
    display: block;
    background-repeat: no-repeat;
    background: #fff;
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 > .megamenu-inner {
    padding-top: 16px;
    padding-right: 40px;
    padding-bottom: 40px;
    margin-left: 40px;
  background-color: #fff;
  width: 75%;
  }
  #megamenu .megamenu-wrapper.tabs-menu.vertical ul.submenu,
  #sticky-megamenu .megamenu-wrapper.tabs-menu.vertical ul.submenu {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  #sticky-megamenu .megamenu-wrapper.tabs-menu.vertical ul.level0:not(.default-menu) li.level1 > a,
  #megamenu .megamenu-wrapper.tabs-menu.vertical ul.level0:not(.default-menu) li.level1 > a {
    padding-left: 40px;
    padding-right: 40px;
  }
  .megamenu .megamenu-wrapper.tabs-menu li.level1.over > .megamenu-inner {
    opacity: 1;
    z-index: 9;
  }
  .megamenu .megamenu-wrapper.tabs-menu li.level1:not([data-columns='1']) > .megamenu-inner ul.level1 li.level2 {
    float: left;
    padding: 0 5px;
  }
  #megamenu .megamenu-wrapper.tabs-menu.vertical li.level2 > a,
  #sticky-megamenu .megamenu-wrapper.tabs-menu.vertical li.level2 > a {color: #222; background: none;}
  .megamenu .megamenu-wrapper.tabs-menu.vertical .megamenu-inner:not([data-columns='1']) > .megamenu-inner ul.level1 li.level2 {
    margin-top: 40px;
  }

    .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1:not([data-columns='1']) > .megamenu-inner ul.level1 li.level2 {

    margin-top: 40px;
  }

  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='2'] ul.level1 li.level2:nth-of-type(-n+2) {
    width: calc(100% / 2 - 1px);
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='3'] ul.level1 li.level2:nth-of-type(-n+3) {
    margin-top: 0;
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='4'] ul.level1 li.level2:nth-of-type(-n+4) {
    width: calc(100% / 2 - 1px);
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='5'] ul.level1 li.level2:nth-of-type(-n+5) {
    width: calc(100% / 2 - 1px);
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='6'] ul.level1 li.level2:nth-of-type(-n+6) {
    width: calc(100% / 2 - 1px);
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='7'] ul.level1 li.level2:nth-of-type(-n+7) {
    width: calc(100% / 2 - 1px);
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='8'] ul.level1 li.level2:nth-of-type(-n+8) {
    width: calc(100% / 2 - 1px);
  }

  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='2'] ul.level1 li.level2:nth-of-type(2n+1),
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='3'] ul.level1 li.level2:nth-of-type(3n+1),
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='4'] ul.level1 li.level2:nth-of-type(4n+1),
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='5'] ul.level1 li.level2:nth-of-type(5n+1),
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='6'] ul.level1 li.level2:nth-of-type(6n+1),
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='7'] ul.level1 li.level2:nth-of-type(7n+1),
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='8'] ul.level1 li.level2:nth-of-type(8n+1) {
    clear: left;
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='2'] ul.level1 li.level2:nth-of-type(2n+2),
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='3'] ul.level1 li.level2:nth-of-type(3n+3),
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='4'] ul.level1 li.level2:nth-of-type(4n+4),
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='5'] ul.level1 li.level2:nth-of-type(5n+5),
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='6'] ul.level1 li.level2:nth-of-type(6n+6),
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='7'] ul.level1 li.level2:nth-of-type(7n+7),
  .megamenu .megamenu-wrapper.tabs-menu.vertical li.level1 .megamenu-inner[data-columns='8'] ul.level1 li.level2:nth-of-type(8n+8) {
    clear: right;
  }
  .megamenu .megamenu-wrapper.tabs-menu li.level1:not([data-columns='1']) > .megamenu-inner ul.level1 li.level2 > a:after {
    display: none;
  }
  .megamenu .megamenu-wrapper.tabs-menu ul.level0 li.level1 li.level2 > .category-image {
    margin-top: 15px;
  }
  .megamenu .megamenu-wrapper.tabs-menu ul.level0 {
    margin-left: 0;
    margin-right: 0;
  }
  .megamenu .megamenu-wrapper.tabs-menu ul.level0 li.level1 {
    padding-left: 0;
    padding-right: 0;
  width: 25%; 
  }
  .megamenu .megamenu-wrapper.tabs-menu ul.level0 li.level1 > a {
    border-bottom: none;
    padding-bottom: .7em;
  width: 25%;
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical ul.level0 li.level1 > a span {
    color: #666;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
  }
  .megamenu .megamenu-wrapper.tabs-menu ul.level0 li.level1.over > a,
  .megamenu .megamenu-wrapper.tabs-menu ul.level0 li.level1 > a:hover {
    color: #222;
  }

  .megamenu .megamenu-wrapper.tabs-menu:not(.vertical):before {
    content: '';
    background-color: #f5f5f5;
    top: 0;
    left: 0;
    height: 100%;
    top: 0;
    width: 100%;
    display: block;
    position: absolute;
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical:before {
    content: '';
    background-color: transparent;
    top: 0;
    left: 0;
    height: 100%;
    top: 0;
    width: 100%;
    display: block;
    position: absolute;
    border-right: 1px solid rgba(0,0,0,0.1);
    z-index: -1;
  }

  .megamenu .megamenu-wrapper.tabs-menu.vertical[data-columns='2']:before {
    width: calc(100% / 2);
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical[data-columns='3']:before {
    width: calc(100% / 3);
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical[data-columns='4']:before {
    width: calc(100% / 4);
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical[data-columns='5']:before {
    width: calc(100% / 5);
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical[data-columns='6']:before {
    width: calc(100% / 6);
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical[data-columns='7']:before {
    width: calc(100% / 7);
  }
  .megamenu .megamenu-wrapper.tabs-menu.vertical[data-columns='8']:before {
    width: calc(100% / 8);
  }

  /*Tabs menu horizontal*/
  .megamenu .megamenu-wrapper.tabs-menu.horizontal {
    padding: 0 0 1px;
  }
  .megamenu .megamenu-wrapper.tabs-menu.horizontal ul.level0 {
    margin: 0;
  }
  .megamenu .megamenu-wrapper.tabs-menu.horizontal ul.level0 li.level1 {
    display: inline-block;
    width: auto !important;
    margin-left: 0;
  float: none !important;
  }
  .megamenu .megamenu-wrapper.tabs-menu.horizontal ul.level0 li.level1 > a {
    padding: 1em 1.5em;
    border: none;
  width: auto;
  }
  .megamenu .megamenu-wrapper.tabs-menu.horizontal ul.level0 li.level1 > a .subtitle {
    margin-top: 2px;
  }
  .megamenu .megamenu-wrapper.tabs-menu.horizontal ul.level0 li.level1 > .megamenu-inner,
  .megamenu .megamenu-wrapper.tabs-menu.horizontal ul.level0 li.level1 > .megamenu-wrapper {
    width: auto;
    left: 0;
    right: 0;
    top: auto;
    padding: 10px 20px 20px;
    background-color: #fff;
    margin-left: 0;
    border: none;
    box-shadow: none;
    overflow-x: hidden; 
    overflow-y: auto ;
  }
}


@media only screen and (max-width: 1007px) {
  .megamenu-wrapper {
    background-image: none !important;
  }
  .megamenu-wrapper {
    display: none;
  }
  a.ui-state-focus ~ .megamenu-wrapper,
  a.ui-state-active ~ .megamenu-wrapper {
    display: block;
  }
  a.ui-state-focus  ~ .megamenu-wrapper ul.level0,
  a.ui-state-focus  ~ .megamenu-wrapper ul.level0,
  a.ui-state-active  ~ .megamenu-wrapper ul.level0,
  a.ui-state-active  ~ .megamenu-wrapper ul.level0 {
    display: block !important;
  }
  .megamenu-wrapper .top-content,
  .megamenu-wrapper .bottom-content,
  .megamenu-wrapper .right-content,
  .megamenu-wrapper .right-column {
    display: none;
  }
  .megamenu-wrapper {
    padding: 0;
  }
  .megamenu-wrapper > ul {
    display: block !important;
  }
  .header-wrapper .navbar-collapse.collapse a.level-top .ui-menu-icon {
    position: absolute;
    right: 20px;
  }
  .megamenu-wrapper {
    padding: 0;
  }
  .megamenu-wrapper ul.level0 {
    display: block !important;
  }

}