<?php
	$meigee_helper = $this->helper('\Meigee\Barbour\Helper\BarbourGeneral');
	$contentWidth = $meigee_helper->getCustomThemeOptionCnf('barbour_layout', 'container_width');
	$sticky_opacity = $meigee_helper->getCustomThemeOptionCnf('barbour_header', 'sticky_header_opacity');
	$custom_skin = $meigee_helper->getCustomThemeOptionCnf('barbour_skins', 'site_skin');
	if($this->helper('Meigee\Barbour\Helper\FrontHelper')->getConfig('dev/css/minify_files')){
		$custom_skin = str_replace(".css", ".min.css", $custom_skin);
		$custom_skin_font = substr($custom_skin, 0, -8);
	}else{
		$custom_skin_font = substr($custom_skin, 0, -4);
	}
?>
<?php if($custom_skin_font == 'default') { ?>
	<link href='//fonts.googleapis.com/css?family=Montserrat:300,400,700|Overpass:300,400,700' rel='stylesheet' type='text/css'>
<?php } else if($custom_skin_font == 'perfumes') { ?>
	<link href='//fonts.googleapis.com/css?family=PT+Serif:300,400,700|Old+Standard+TT:300,400,700' rel='stylesheet' type='text/css'>
	<link href="<?php echo ($this->getViewFileUrl('css/skins').'/'.$custom_skin); ?>" rel="stylesheet" type="text/css" />
<?php } else if($custom_skin_font == 'electronics_1') { ?>
	<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
	<link href="<?php echo ($this->getViewFileUrl('css/skins').'/'.$custom_skin); ?>" rel="stylesheet" type="text/css" />
<?php } else if($custom_skin_font == 'electronics_2') { ?>
	<link href='//fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
	<link href="<?php echo ($this->getViewFileUrl('css/skins').'/'.$custom_skin); ?>" rel="stylesheet" type="text/css" />
<?php } else if($custom_skin_font == 'cloth') { ?>
	<link href='//fonts.googleapis.com/css?family=Montserrat:300,400,700|Nunito+Sans:300,400,700' rel='stylesheet' type='text/css'>
	<link href="<?php echo ($this->getViewFileUrl('css/skins').'/'.$custom_skin); ?>" rel="stylesheet" type="text/css" />
<?php } else if($custom_skin_font == 'jewelry') { ?>
	<link href='//fonts.googleapis.com/css?family=Lora:300,400,700|Playfair+Display:300,400,700' rel='stylesheet' type='text/css'>
	<link href="<?php echo ($this->getViewFileUrl('css/skins').'/'.$custom_skin); ?>" rel="stylesheet" type="text/css" />
<?php } else if($custom_skin_font == 'handmade') { ?>
	<link href='//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Nunito+Sans:300,400,700' rel='stylesheet' type='text/css'>
	<link href="<?php echo ($this->getViewFileUrl('css/skins').'/'.$custom_skin); ?>" rel="stylesheet" type="text/css" />
<?php } ?>
<style type="text/css">
	body.boxed-layout .container,
	body .container {max-width: <?php echo $contentWidth; ?>px; width: 100%;}
	#sticky-header {opacity: <?php echo $sticky_opacity/100; ?>;}
</style>
