<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */

    $meigee_helper = $this->helper('\Meigee\Barbour\Helper\BarbourGeneral');
    $moreViewsType = $meigee_helper->getCustomThemeOptionCnf('barbour_product_view', 'product_more_views_type');

    switch ($moreViewsType) {
        case 'list':
            $moreViewsTypeClassname = 'no-slider';
        break;
        case 'horizontal_slider':
            $moreViewsTypeClassname = 'more-views-horizontal-slider';
        break;
        case 'vertical_type_1':
            $moreViewsTypeClassname = 'more-views-vertical-slider type-1 ';
        break;
        case 'vertical_type_2':
            $moreViewsTypeClassname = 'more-views-vertical-slider type-2';
        break;
        case 'large':
            $moreViewsTypeClassname = 'more-views-large';
        break;
        default:
            $moreViewsTypeClassname = 'more-views-horizontal-slider';
        break;
    }

?>
<div class="gallery-placeholder _block-content-loading <?php echo $moreViewsTypeClassname; ?><?php echo count($block->getGalleryImages()) == 1 ? ' single-image' : ''; ?>" data-gallery-role="gallery-placeholder">
    <div data-role="loader" class="loading-mask">
        <div class="loader">
            <img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
                 alt="<?php /* @escapeNotVerified */ echo __('Loading...') ?>">
        </div>
    </div>
</div>
<!--Fix for jumping content. Loader must be the same size as gallery.-->
<script>
    var config = {
            "width": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
            "thumbheight": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'height')
                        ?: $block->getImageAttribute('product_page_image_small', 'width'); ?>,
            "navtype": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/navtype"); ?>",
            "height": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'height'); ?>
        },
        thumbBarHeight = 0,
        loader = document.querySelectorAll('[data-gallery-role="gallery-placeholder"] [data-role="loader"]')[0];

    if (config.navtype === 'horizontal') {
        thumbBarHeight = config.thumbheight;
    }

    loader.style.paddingBottom = ( config.height / config.width * 100) + "%";

</script>
<script type="text/x-magento-init">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "mage/gallery/gallery": {
                "mixins":["magnifier/magnify"],
                "magnifierOpts": <?php /* @escapeNotVerified */ echo $block->getMagnifier(); ?>,
                "data": <?php /* @escapeNotVerified */ echo $block->getGalleryImagesJson(); ?>,
                "options": {
                    "nav": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/nav"); ?>",
                    <?php if (($block->getVar("gallery/loop"))): ?>
                        "loop": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/loop"); ?>,
                    <?php endif; ?>
                    <?php if (($block->getVar("gallery/keyboard"))): ?>
                        "keyboard": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/keyboard"); ?>,
                    <?php endif; ?>
                    <?php if (($block->getVar("gallery/arrows"))): ?>
                        "arrows": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/arrows"); ?>,
                    <?php endif; ?>
                    <?php if (($block->getVar("gallery/allowfullscreen"))): ?>
                        "allowfullscreen": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/allowfullscreen"); ?>,
                    <?php endif; ?>
                    <?php if (($block->getVar("gallery/caption"))): ?>
                        "showCaption": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/caption"); ?>,
                    <?php endif; ?>

                    <?php if ($moreViewsType == "list"){ ?>
                        "thumbwidth": 124,
                        "thumbheight": 124,
                    <?php } elseif ($moreViewsType == "horizontal_slider"){ ?>
                        "thumbwidth": 136,
                        "thumbheight": 136,
                    <?php } elseif ($moreViewsType == "vertical_type_1" || $moreViewsType == 'vertical_type_2'){ ?>
                        "thumbwidth": 90,
                        "thumbheight": 90,
                    <?php } else { ?>
                        "thumbwidth": "<?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'width'); ?>",
                        <?php if ($block->getImageAttribute('product_page_image_small', 'height') || $block->getImageAttribute('product_page_image_small', 'width')): ?>
                            "thumbheight": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'height')
                            ?: $block->getImageAttribute('product_page_image_small', 'width'); ?>,
                        <?php endif; ?>
                    <?php } ?>
                    <?php if ($moreViewsType == 'vertical_type_1'){ ?>
                        "height" : 700,
                        "width" : 810,
                    <?php } else { ?>
                        "width": "<?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'width'); ?>",
                        <?php if ($block->getImageAttribute('product_page_image_medium', 'height') || $block->getImageAttribute('product_page_image_medium', 'width')): ?>
                            "height": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'height')
                            ?: $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
                        <?php endif; ?>
                    <?php } ?>

                    <?php if ($block->getVar("gallery/transition/duration")): ?>
                        "transitionduration": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/transition/duration"); ?>,
                    <?php endif; ?>
                    "transition": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/transition/effect"); ?>",
                    <?php if (($block->getVar("gallery/navarrows"))): ?>
                        "navarrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/navarrows"); ?>,
                    <?php endif; ?>
                        "navtype": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/navtype"); ?>",
                    <?php if ($moreViewsType == 'vertical_type_1' || $moreViewsType == 'vertical_type_2'){ ?>
                        "navdir": "vertical"
                    <?php } else { ?>
                        "navdir": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/navdir"); ?>"
                    <?php } ?>

                },
                "fullscreen": {
                    "nav": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/nav"); ?>",
                    <?php if ($block->getVar("gallery/fullscreen/loop")): ?>
                        "loop": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/loop"); ?>,
                    <?php endif; ?>
                    "navdir": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/navdir"); ?>",
                    <?php if ($block->getVar("gallery/transition/navarrows")): ?>
                        "navarrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/navarrows"); ?>,
                    <?php endif; ?>
                    <?php if ($moreViewsType == "large"){ ?>
                        "thumbwidth": 99,
                        "thumbheight": 123,
                    <?php } ?>
                    "navtype": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/navtype"); ?>",
                    <?php if ($block->getVar("gallery/fullscreen/arrows")): ?>
                        "arrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/arrows"); ?>,
                    <?php endif; ?>
                    <?php if ($block->getVar("gallery/fullscreen/caption")): ?>
                        "showCaption": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/caption"); ?>,
                    <?php endif; ?>
                    <?php if ($block->getVar("gallery/fullscreen/transition/duration")): ?>
                        "transitionduration": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/transition/duration"); ?>,
                    <?php endif; ?>
                    "transition": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/transition/effect"); ?>"
                },
                "breakpoints": <?php /* @escapeNotVerified */ echo $block->getBreakpoints(); ?>
            }
        }
    }
</script>
<script>
    require(['jquery', 'mage/gallery/gallery'], function($, gallery){
        $('[data-gallery-role=gallery-placeholder]').on('gallery:loaded', function () {
            if($(window).width() > 767){
                $(this).on('fotorama:ready', function(){
                    setTimeout(function(){
                        var  api = $(this).data('gallery');
                        var offsetLeft = 0;
                        var mainOffset = $('#maincontent > .container').offset().left;
                        <?php if ($moreViewsType == 'vertical_type_2'){ ?>
                            var galleryOffset = $('.product.media .more-views-vertical-slider .fotorama__stage__shaft').offset().left;
                            var galleryWidth = $('.product.media .more-views-vertical-slider .fotorama__stage__shaft').width();
                            var setGalleryWidth = galleryWidth + galleryOffset - mainOffset;
                            $('.product.media .more-views-vertical-slider .fotorama__stage__shaft').css({
                                'width': setGalleryWidth
                            });
                            $('.product.media .more-views-vertical-slider .fotorama__stage').css({
                                'width': setGalleryWidth,
                            });
                        <?php } ?>
                        <?php if ($moreViewsType == 'vertical_type_1' || $moreViewsType == 'vertical_type_2'){ ?>
                            setTimeout(function(){
                                var galleryImgHeight = $('.more-views-vertical-slider .fotorama__stage .fotorama__img').height();
                                <?php if ($moreViewsType == 'vertical_type_1'){ ?>
                                    var navHeight = galleryImgHeight - 4;
                                <?php } else { ?>
                                    var navHeight = galleryImgHeight - $('.more-views-vertical-slider .fotorama__nav .fotorama__thumb__arr--left').height() - $('.more-views-vertical-slider .fotorama__nav .fotorama__thumb__arr--right').height() - 4;

                                <?php } ?>
                                var verticalThumbsHeight = $('.more-views-vertical-slider .fotorama__nav .fotorama__nav__shaft').height();
                                if (verticalThumbsHeight > galleryImgHeight) {
                                    $('.more-views-vertical-slider .fotorama__nav').css({
                                        'height' : navHeight
                                    });
                                }
                                console.log(navHeight);
                            }, 100);
                        <?php } ?>
                        <?php if ($moreViewsType == 'large'){ ?>
                            $('.product.media .gallery-placeholder .fotorama__nav--thumbs .fotorama__nav__frame').on('click', function(e) {
                                setTimeout(function(){
                                    api.fotorama.requestFullScreen();
                                }, 100);
                            })
                        <?php } ?>
                    }, 200);
                });
            }
        });
    });
</script>