<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_product = $block->getProduct() ?>
<?php if ($block->canEmailToFriend()): ?>
    <a href="<?php /* @escapeNotVerified */ echo $this->helper('Magento\Catalog\Helper\Product')->getEmailToFriendUrl($_product) ?>"
       class="action mailto friend" title="<?php /* @escapeNotVerified */ echo __('Email to a Friend') ?>">
	   <i class="meigee-fa-envelope-o"></i>
	   <span><?php /* @escapeNotVerified */ echo __('Email to a Friend') ?></span>
	</a>
<?php endif; ?>
