<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);
?>
<tbody class="cart item">
    <tr class="item-info">
        <td data-th="<?php echo $block->escapeHtml(__('Item')); ?>" class="col">
            <?php if ($block->hasProductUrl()):?>
                <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>"
                   title="<?php echo $block->escapeHtml($block->getProductName()) ?>"
                   tabindex="-1"
                   class="product-item-photo">
            <?php else:?>
                <span class="product-item-photo">
            <?php endif;?>
            <?php echo $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml(); ?>
            <?php if ($block->hasProductUrl()):?>
                </a>
            <?php else: ?>
                </span>
            <?php endif; ?>        
            <div class="cart-product-info">  
                <h5 class="product-item-name">
                    <?php if ($block->hasProductUrl()):?>
                        <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>"><?php echo $block->escapeHtml($block->getProductName()) ?></a>
                    <?php else: ?>
                        <?php echo $block->escapeHtml($block->getProductName()) ?>
                    <?php endif; ?>
                </h5>
                <div class="cart-actions">                
                    <?php
                        $remove_block = $block->getLayout()->createBlock('\Magento\Checkout\Block\Cart\Item\Renderer\Actions\Remove');
                        $edit_block = $block->getLayout()->createBlock('\Magento\Checkout\Block\Cart\Item\Renderer\Actions\Edit');
                    ?>
                    <?php if ($edit_block->setItem($_item)->isProductVisibleInSiteVisibility()): ?>
                        <a class="action actmeigee-pencil"
                           href="<?php /* @escapeNotVerified */ echo $edit_block->setItem($_item)->getConfigureUrl() ?>"
                           title="<?php echo $block->escapeHtml(__('Edit item parameters')); ?>">
                            <i class="meigee-pencil"></i>
                       </a>
                    <?php endif ?>
                    <a href="#"
                       title="<?php echo $block->escapeHtml(__('Remove item')); ?>"
                       class="action action-delete"
                       data-post='<?php /* @escapeNotVerified */ echo $remove_block->setItem($_item)->getDeletePostJson($_item); ?>'>
                            <i class="meigee-x"></i>
                    </a>
                </div>
                <div class="subtotal" data-th="<?php echo $block->escapeHtml(__('Subtotal'));?>">
                    <?php if ($canApplyMsrp): ?>
                        <span class="cart msrp subtotal">--</span>
                    <?php else: ?>
                        <?php echo $block->getRowTotalHtml($_item); ?>
                    <?php endif; ?>
                </div>
                <?php if ($_options = $block->getOptionList()):?>
                    <dl class="item-options">
                        <?php foreach ($_options as $_option) : ?>
                            <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                            <dt><?php echo $block->escapeHtml($_option['label']) ?></dt>
                            <dd>
                                <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                    <?php /* @escapeNotVerified */ echo $_formatedOptionValue['full_view'] ?>
                                <?php else: ?>
                                    <?php /* @escapeNotVerified */ echo $_formatedOptionValue['value'] ?>
                                <?php endif; ?>
                            </dd>
                        <?php endforeach; ?>
                    </dl>
                <?php endif;?>
                <div class="quantity-wrapper clearfix">
                    <span class="toggle-btn"><?php echo $block->escapeHtml(__('Qty')); ?>:<strong id="qty-label-<?php echo $_item->getId(); ?>"><?php echo $block->getQty() ?></strong><span class="caret"></span></span>
                    <div class="dropdown-wrapper qty-box clearfix">
                        <div class="quantity-decrease" onclick="qtyDown<?php echo $_item->getId(); ?>()"><i class="meigee-minus"></i></div>
                        <input id="cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty"
                               name="cart[<?php /* @escapeNotVerified */ echo $_item->getId() ?>][qty]"
                               data-cart-item-id="<?php /* @escapeNotVerified */ echo $_item->getSku() ?>"
                               value="<?php /* @escapeNotVerified */ echo $block->getQty() ?>"
                               type="text"
                               size="4"
                               title="<?php echo $block->escapeHtml(__('Qty')); ?>"
                               class="input-text qty cart-qty"
                               maxlength="12"
                               data-validate="{required:true,'validate-greater-than-zero':true}"
                               data-role="cart-item-qty"/>
                        <div class="quantity-increase" onclick="qtyUp<?php echo $_item->getId(); ?>()"><i class="meigee-plus"></i></div>
                    </div>
                    <script type="text/javascript">
                        function qtyDown<?php echo $_item->getId(); ?>(){
                            qty_el = document.getElementById('cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty');
                            qty = qty_el.value;
                            if( !isNaN( qty ) && qty > 1 ){
                                qty_el.value--;
                                document.getElementById('<?php echo 'qty-label-'.$_item->getId(); ?>').textContent = parseInt(qty_el.value);
                            }
                            return false;
                        }
                        function qtyUp<?php echo $_item->getId(); ?>(){
                            qty_el = document.getElementById('cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty');
                            qty = qty_el.value;
                            if( !isNaN( qty )) {
                                qty_el.value++;
                                document.getElementById('<?php echo 'qty-label-'.$_item->getId(); ?>').textContent = parseInt(qty_el.value);
                            }
                            return false;
                        }
                        document.getElementById('cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty')
                        .addEventListener('keyup', function(event) {
                            qty_el = document.getElementById('cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty');
                            if( !isNaN( qty )) {
                                document.getElementById('<?php echo 'qty-label-'.$_item->getId(); ?>').textContent = parseInt(qty_el.value);
                            }
                        });
                    </script>
                </div>
                <?php if ($messages = $block->getMessages()): ?>
                    <?php foreach ($messages as $message): ?>
                        <div class="cart item message <?php /* @escapeNotVerified */ echo $message['type'] ?>"><div><?php echo $block->escapeHtml($message['text']) ?></div></div>
                    <?php endforeach; ?>
                <?php endif; ?>
                <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                <?php if ($addInfoBlock): ?>
                    <?php echo $addInfoBlock->setItem($_item)->toHtml() ?>
                <?php endif;?>     
            </div>  
        </td>

    </tr>
</tbody>
