<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper('Magento\Search\Helper\Data');
$rand = rand(5, 1500);
$meigee_helper = $this->helper('\Meigee\Barbour\Helper\BarbourGeneral');
$search_type = $meigee_helper->getCustomThemeOptionCnf('barbour_header', 'header_search_type');
?>
<div class="block block-search <?php /* @escapeNotVerified */ echo $search_type; ?>">
    <div class="block block-title"><strong><?php /* @escapeNotVerified */ echo __('Search'); ?></strong></div>
    <div class="search-button">
    	<i class="meigee-search" title="<?php echo __('Search'); ?>"></i>
    </div>
    <div class="indent">
        <div class="inner">
            <div class="block block-content<?php echo $search_type === "type-2" ? ' container' : ''; ?>">
                <form class="form minisearch" id="search_mini_form_<?php echo $rand; ?>" action="<?php /* @escapeNotVerified */ echo $helper->getResultUrl() ?>" method="get">
                    <div class="input-group">
                        <span class="input-group-btn search-icon hidden-xs"><i class="meigee-search"></i></span>
                        <button type="submit" title="<?php echo $block->escapeHtml(__('Search')) ?>" class="btn btn-default mobile-search-btn visible-xs"><span><i class="meigee-search"></i></span></button>
        			    <input id="search_<?php echo $rand; ?>"
        				   data-mage-init='{"quickSearch":{
        						"formSelector":"#search_mini_form_<?php echo $rand; ?>",
        						"url":"<?php /* @escapeNotVerified */ echo $block->getUrl('search/ajax/suggest'); ?>",
        						"destinationSelector":"#search_autocomplete_<?php echo $rand; ?>"}
        				   }'
        				   type="text"
        				   name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>"
        				   value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>"
        				   placeholder="<?php /* @escapeNotVerified */ echo __('Search entire store here...'); ?>"
                           onfocus="this.placeholder = ''"
                           onblur="this.placeholder = 'Search entire store here...'"
        				   class="form-control"
        				   maxlength="<?php /* @escapeNotVerified */ echo $helper->getMaxQueryLength();?>"
        				   role="combobox"
        				   aria-haspopup="false"
        				   aria-expanded="true"
        				   aria-autocomplete="both"
        				   autocomplete="off"/>
        				<span class="input-group-btn action-btn hidden-xs">
							<button type="submit"
									title="<?php echo $block->escapeHtml(__('Search')) ?>"
									class="action btn btn-default">
								<span><span><?php echo $block->escapeHtml(__('Search')) ?></span><i class="meigee-search"></i></span>
							</button>
        				</span>
        				<div id="search_autocomplete_<?php echo $rand; ?>" class="search-autocomplete"></div>
        			</div>
                    <?php if($search_type === 'type-2') { ?>
                        <span class="search-subtitle"><?php echo __('Input your search keywords and press Enter.');?></span>
                    <?php } ?>
        			<?php echo $block->getChildHtml() ?>
                </form>
            </div>
        </div>
    </div>
</div>
