<?php
/**
 * Copyright © 2016 Ihor Vansach (ihor@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog recent posts widget
 *
 * @var $block \Magefan\Blog\Block\Widget\Recent
 */
?>

<?php
    $_postCollection = $block->getPostCollection();
?>
<style>
.widget-blogs-teamswear {

}
.widget-blogs-teamswear .title {
    font-size: 24px;
    color: #003e6b;
}
.widget-blogs-teamswear li {
    text-align: left;
    padding: 0px;
    float: left;
    margin: 0px;
    position: relative;
    overflow: hidden;
}
.widget-blogs-teamswear li .item{
    margin-left: 20px;
}
.widget-blogs-teamswear li .item.item-first {
    margin-left: 10px;
}
.widget-blogs-teamswear li .item .post-date {
    color: #7b99af;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.widget-blogs-teamswear li .item .postContent p {
    color: #003e6b;
}
</style>
<?php if ($_postCollection->count()) { ?>
<div class="row">
    <div class="widget-blogs-teamswear">
        <div class="col-xs-12">
            <h3 class="title"><?php echo $block->escapeHtml($block->getTitle()) ?></h3>
            <div class="row">
                <ul class="clearfix">
                <?php foreach ($_postCollection as $index => $_post) { ?>
                    <?php
                        $_postUrl = $_post->getPostUrl();
                        $_postName = $block->escapeHtml($_post->getTitle(), null, true);
                    ?>
                    <li class="col-sm-3">
                        <div class="item post-holder-<?php echo $_post->getId() ?> <?php echo $index == 1 ? 'item-first' : ''; ?>">
                            <div class="inner-wrapper">
                                <?php if ($featuredImage = $_post->getFeaturedImage()) { ?>
                                    <div class="post-ftimg-hld">
                                        <a href="<?php echo $_postUrl ?>" title="<?php echo $_postName ?>">
                                            <img src="<?php echo $featuredImage ?>" alt="<?php echo $_postName ?>" />
                                        </a>
                                    </div>
                                <?php } ?>
                                <div class="post-date"><?php echo $_post->getPublishDate('F d, Y') ?></div> 
                                <h5><a href="<?php echo $_postUrl ?>" ><?php echo $_postName; ?></a></h5>
                                <div class="postContent"><?php echo substr($block->getShorContent($_post), 0, 100) ?>...</div>
                            </div>
                        </div>
                    </li>
                <?php } ?>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var addthis_config = {
        "ui_language": '<?php echo $this->getAddThisLanguage(); ?>',
        "data_track_clickback":false
    }
</script>
<script type="text/javascript" async src="<?php echo '/' . '/' ?>s7.addthis.com/js/250/addthis_widget.js#pubid=<?php echo $this->getAddThisPubId(); ?>"></script>
<?php } ?>