<hr class="indent-24 white-space">
<div class="brands row">
    <div class="d-none d-md-block col-sm-1"></div>
    <div class="col-xs-4 col-sm-1">
        <a href="#" title=""><img src="{{media url='brands/adidas.png'}}" alt=""></a>
    </div>
    <div class="col-xs-4 col-sm-1">
        <a href="#" title=""><img src="{{media url='brands/erima.png'}}" alt=""></a>
    </div>
    <div class="col-xs-4 col-sm-1">
        <a href="#" title=""><img src="{{media url='brands/hummel.png'}}" alt=""></a>
    </div>
    <div class="col-xs-4 col-sm-1">
        <a href="#" title=""><img src="{{media url='brands/jako.png'}}" alt=""></a>
    </div>
    <div class="col-xs-4 col-sm-1">
        <a href="#" title=""><img src="{{media url='brands/mcdavid.png'}}" alt=""></a>
    </div>
    <div class="col-xs-4 col-sm-1">
        <a href="#" title=""><img src="{{media url='brands/nike.png'}}" alt=""></a>
    </div>
    <div class="col-xs-4 col-sm-1">
        <a href="#" title=""><img src="{{media url='brands/patrick.png'}}" alt=""></a>
    </div>
    <div class="col-xs-4 col-sm-1">
        <a href="#" title=""><img src="{{media url='brands/real.png'}}" alt=""></a>
    </div>
    <div class="col-xs-4 col-sm-1">
        <a href="#" title=""><img src="{{media url='brands/select.png'}}" alt=""></a>
    </div>
    <div class="d-none d-md-block col-xs-4 col-sm-1">
        <a href="#" title=""><img src="{{media url='brands/spalding.png'}}" alt=""></a>
    </div>
    <div class="d-none d-md-block col-xs-4 col-sm-1"></div>
</div>
<hr class="indent-24 white-space">
<div class="row">
{{widget type="ProgrammingAtKstark\CatewithimgWidget\Block\Widget\CatewithimgWidget" blocktitle="Popular Categories" tagline="" parentcat="237,36,247,44,51,14,281,248"}}
</div>
<hr class="indent-24 white-space">
<header class="widget-title clearfix text-center">
    <h2>New Products</h2>
</header>
{{widget type="Meigee\ProductWidget\Block\Product\ProductsList" widget_type="featuredcategory" featured_category="14" collection_sort_by="name" collection_sort_order="asc" show_pager="0" products_count="7" template="Meigee_ProductWidget::product/widget/content/slider.phtml" visible_products="6" visible_products_tablet="2" visible_products_mobile="2" pagination="false" widget_id="1961" conditions_encoded="^[`1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Combine`,`aggregator`:`all`,`value`:`1`,`new_child`:``^]^]"}}
<hr class="indent-40 white-space">
{{widget type="Magefan\Blog\Block\Widget\Recent" title="Recent Blogs" number_of_posts="4" category_id="0" tag_id="0" author_id="0" custom_template="Magefan_Blog::widget/recent_teamswear.phtml"}}
<hr class="indent-52 white-space">
<div class="subscribe-block clearfix text-center fullwidth">
    <div class="block-title">Subscribe to our<br>Newsletter</div>
    {{block class="Magento\Newsletter\Block\Subscribe" name="form.subscribe" as="subscribe" before="-" template="Magento_Newsletter::content_subscribe.phtml"}}
</div>