
	/***** New Css styles *****/
	
	body.boxed-layout .content-wrapper .container,
	.boxed-layout .breadcrumbs-wrapper .container,
	html body.wide-layout {
		background-color: #fff;
	}
	body.boxed-layout .content-wrapper .container,
	.boxed-layout .breadcrumbs-wrapper .container {
		border-color: rgba(0,0,0,0);
	}
	.products-list li.item + li.item,
	.block-dashboard-orders .block-title,
	.block-dashboard-addresses .block-title,
	.block-dashboard-info .block-title,
	.block-reviews-dashboard .block-title,
	.block-dashboard-info .block-content .box.box-information,
	.block-dashboard-info .block-content .box.box-newsletter,
	.block-dashboard-addresses .block-content .box.box-billing-address,
	.block-dashboard-addresses .block-content .box.box-shipping-address,
	.box .box-title,
	.table > thead > tr > th,
	.table > tbody > tr > th,
	.table > tfoot > tr > th,
	.table > thead > tr > td,
	.table > tbody > tr > td,
	.table > tfoot > tr > td,
	.products-grid.wishlist li.product-item .product-item-actions a.btn-remove,
	#review-form {
		border-color: rgba(0,0,0,0.08);
	}
	html body,
	.reviews-actions a,
	.toolbar label,
	.toolbar .label,
	.toolbar .modes i,
	.block.review-add .review-field-ratings .label,
	.review-field-rating .rating-values,
	.product-info-main .title-wrapper .add-review,
	.block-title strong,
	.block-collapsible-nav-title strong,
	.block-dashboard-orders .block-title strong,
	.block-dashboard-addresses .block-title strong,
	.block-dashboard-info .block-title strong,
	.block-reviews-dashboard .block-title strong,
	.box .box-title {
		color: #222;
	}
	.product-info-main .title-wrapper .add-review::before {
		background-color: #222;
	}
	.page-title,
	.page-title h1 {
		color: #222;
	}
	body a,
	.v-ellipsis .read-more-link,
	#my-orders-table a,
	.account .content-inner a {
		color: #373b6a;
	}
	body a:hover,
	.v-ellipsis .read-more-link:hover,
	#my-orders-table a:hover,
	.account .content-inner a:hover {
		color: #f06292;
	}
	body a:active,
	.v-ellipsis .read-more-link:active,
	#my-orders-table a:active,
	.account .content-inner a:active {
		color: #f06292;
	}
	body a:focus,
	.v-ellipsis .read-more-link:focus,
	#my-orders-table a:focus,
	.account .content-inner a:focus {
		color: ;
	}
	.price {
		color: #373b6a;
	}
	.price-box .special-price .price {
		color: #f06292;
	}
	.old-price .price {
		color: #aaa;
	}
	.products-list .sold-out .price,
	.products-grid .sold-out .price,
	.products-list .sold-out .price-currency,
	.products-grid .sold-out .price-currency,
	.products-list .sold-out .price-pennie,
	.products-grid .sold-out .price-pennie {
		color: rgba(0,0,0,0.3);
	}
	ul.breadcrumb li a,
	.breadcrumbs-wrapper .breadcrumb > li + li::before {
		color: #666;
	}
	ul.breadcrumb li a:hover {
		color: #465362;
	}
	ul.breadcrumb li a:active,
	ul.breadcrumb li strong {
		color: #465362;
	}
	ul.breadcrumb li a:focus {
		color: ;
	}
	body input[type="text"],
	body input,
	body input[type="email"],
	body input[type="password"],
	body input.form-control,
	body input,
	body textarea.form-control,
	body textarea,
	.block.review-add .field.required .form-control,
	.block.review-add .form-control {
		color: rgba(0, 0, 0, 0.5);
		background-color: rgba(0, 0, 0, 0.06);
	}
	body select.form-control,
	body select,
	.toolbar select.form-control,
	.toolbar select {
		color: #222;
		background-color: rgba(0, 0, 0, 0.08);
	}
	.rating-result,
	.review-control-vote::before {
		color: #aaa;
	}
	.rating-result span,
	.review-control-vote label::before {
		color: #ffdd20;
	}
	.reviews-actions a:hover {
		color: #f06292;
	}
	body .btn,
	body button.action,
	.sidebar .block li a.action.tocart,
	.actions-toolbar a.primary,
	.sidebar .block.block-compare .actions-toolbar .action,
	.sidebar .block.block-wishlist .actions-toolbar a.action.details,
	.sidebar .block.block-reorder .actions-toolbar .secondary a.action.view,
	.sidebar .block.block-reorder .actions-toolbar .primary button.action.tocart,
	body .cart-container .cart.actions a.action.continue, body .weltpixel-quickview,
	button.action-primary,
	button.action-secondary,
	body.checkout-index-index button[type="submit"],
	.weltpixel-quickview-catalog-product-view button.action,
	.product-info-main .actions button {
		color: #888;
		background-color: rgba(0,0,0,0);
		border-color: rgba(0,0,0,.08);
	}
	body .btn:hover,
	body button.action:hover,
	.sidebar .block li a.action.tocart:hover,
	.actions-toolbar a.primary:hover,
	.sidebar .block.block-compare .actions-toolbar .action:hover,
	.sidebar .block.block-wishlist .actions-toolbar a.action.details:hover,
	.sidebar .block.block-reorder .actions-toolbar .secondary a.action.view:hover,
	.sidebar .block.block-reorder .actions-toolbar .primary button.action.tocart:hover,
	body .cart-container .cart.actions a.action.continue:hover,
	body .weltpixel-quickview:hover,
	button.action-primary:hover,
	button.action-secondary:hover,
	body.checkout-index-index button[type="submit"]:hover,
	.weltpixel-quickview-catalog-product-view button.action:hover,
	.product-info-main .actions button:hover {
		color: #888;
		background-color: #eee;
		border-color: #eee;
	}
	body .btn:active,
	body button.action:active,
	.sidebar .block li a.action.tocart:active,
	.actions-toolbar a.primary:active,
	.sidebar .block.block-compare .actions-toolbar .action:active,
	.sidebar .block.block-wishlist .actions-toolbar a.action.details:active,
	.sidebar .block.block-reorder .actions-toolbar .secondary a.action.view:active,
	.sidebar .block.block-reorder .actions-toolbar .primary button.action.tocart:active,
	body .cart-container .cart.actions a.action.continue:active,
	body .weltpixel-quickview:active,
	button.action-primary:active,
	button.action-secondary:active,
	body.checkout-index-index button[type="submit"]:active,
	.weltpixel-quickview-catalog-product-view button.action:active,
	.product-info-main .actions button:active {
		color: #888;
		background-color: #eee;
		border-color: #eee;
	}
	body .btn:focus,
	body button.action:focus,
	.sidebar .block li a.action.tocart:focus,
	.actions-toolbar a.primary:focus,
	.sidebar .block.block-compare .actions-toolbar .action:focus,
	.sidebar .block.block-wishlist .actions-toolbar a.action.details:focus,
	.sidebar .block.block-reorder .actions-toolbar .secondary a.action.view:focus,
	.sidebar .block.block-reorder .actions-toolbar .primary button.action.tocart:focus,
	body .cart-container .cart.actions a.action.continue:focus,
	body .weltpixel-quickview:focus,
	button.action-primary:focus,
	button.action-secondary:focus,
	body.checkout-index-index button[type="submit"]:focus,
	.weltpixel-quickview-catalog-product-view button.action:focus,
	.product-info-main .actions button:focus {
		color: ;
		background-color: ;
		border-color: ;
	}
	

	body .totals-wrapper .checkout-methods-items button:hover,
	.sidebar .block.block-reorder .actions-toolbar .primary button.action.tocart,
	.sidebar .block.block-compare .actions-toolbar .primary a.action,
	body .weltpixel-quickview, body .btn.btn-primary {
		color: #fff;
		background-color: #373b6a;
		border-color: #373b6a;
	}
	.sidebar .block.block-reorder .actions-toolbar .primary button.action.tocart:hover,
	.sidebar .block.block-compare .actions-toolbar .primary a.action:hover,
	body .weltpixel-quickview, body .btn.btn-primary:hover {
		color: #fff;
		background-color: #f06292;
		border-color: #f06292;
	}
	.sidebar .block.block-reorder .actions-toolbar .primary button.action.tocart:active,
	.sidebar .block.block-compare .actions-toolbar .primary a.action:active,
	body .weltpixel-quickview, body .btn.btn-primary:active {
		color: #fff;
		background-color: #f06292;
		border-color: #f06292;
	}
	.sidebar .block.block-reorder .actions-toolbar .primary button.action.tocart:focus,
	.sidebar .block.block-compare .actions-toolbar .primary a.action:focus,
	body .weltpixel-quickview, body .btn.btn-primary:focus {
		color: ;
		background-color: ;
		border-color: ;
	}
	body .btn.btn-primary.type-2,
	.weltpixel-quickview-catalog-product-view button.action {
	  color: #fff;
	  background-color: #f06292;
	}
	body .btn.btn-primary.type-2:hover,
	.weltpixel-quickview-catalog-product-view button.action:hover {
	  color: #fff;
	  background-color: #373b6a;
	}
	body .btn.btn-primary.type-2:active,
	.weltpixel-quickview-catalog-product-view button.action:active {
	  color: #fff;
	  background-color: #373b6a;
	}
	body .btn.btn-primary.type-2:focus,
	.weltpixel-quickview-catalog-product-view button.action:focus {
	  color: ;
	  background-color: ;
	}
	.owl-nav div,
	.text-banner .owl-nav div {
		color: #888;
		background-color: rgba(0,0,0,0);
		border-color: rgba(0,0,0,.08);
	}
	.owl-nav div:hover,
	.text-banner .owl-nav div:hover {
		color: #fff;
		background-color: #f06292;
		border-color: rgba(0,0,0,.08);
	}
	.owl-nav div:active,
	.text-banner .owl-nav div:active {
		color: #fff;
		background-color: #f06292;
		border-color: rgba(0,0,0,.08);
	}
	.owl-nav div:focus,
	.text-banner .owl-nav div:focus {
		color: ;
		background-color: ;
		border-color: ;
	}
	body .subscribe-block {
		background-color: rgba(0,0,0,0);
	}
	.subscribe-block .block-title {
		color: #fff;
	}
	body .subscribe-block .content label {
		color: #fff;
	}
	body .subscribe-block .content input {
		background-color: rgba(255,255,255,0.2);
		color: #fff;
	}
	body .subscribe-block .content input::-webkit-input-placeholder {
	  color: #fff;
	}
	body .subscribe-block .content input::-moz-placeholder {
	  color: #fff;
	}
	body .subscribe-block .content input:-ms-input-placeholder {
	  color: #fff;
	}
	body .subscribe-block .content input:-moz-placeholder {
	  color: #fff;
	}
	.newsletter .btn.btn-primary.type-2 {
		color: #888;
		background-color: #fff;
		border-color: #fff;
	}
	.newsletter .btn.btn-primary.type-2:hover,
	.newsletter .btn.btn-primary.type-2.hover {
		color: #fff;
		background-color: #373b6a;
		border-color: #373b6a;
	}
	.newsletter .btn.btn-primary.type-2:active,
	.newsletter .btn.btn-primary.type-2.active {
		color: #fff;
		background-color: #373b6a;
		border-color: #373b6a;
	}
	.newsletter .btn.btn-primary.type-2:focus,
	.newsletter .btn.btn-primary.type-2.focus {
		color: ;
		background-color: ;
		border-color: ;
	}
	.wide-layout .page-header.header-1 > *,
	.boxed-layout .page-header.header-1 > * .container,
	.cms-index-index.wide-layout .page-header.header-1,
	.cms-index-index.boxed-layout .page-header.header-1 .container,
	.wide-layout .page-header.header-2 > *,
	.boxed-layout .page-header.header-2 > * .container,
	.wide-layout:not(.checkout-cart-index) .header-wrapper .page-header.header-3,
	.boxed-layout:not(.checkout-cart-index) .header-wrapper .page-header.header-3 .container,
	.wide-layout .page-header.header-4,
	body.boxed-layout .page-header.header-4 .container,
	.wide-layout .page-header.header-5 > *,
	.boxed-layout .page-header.header-5 > * .container,
	.wide-layout:not(.checkout-cart-index) .header-wrapper .page-header.header-6,
	.boxed-layout:not(.checkout-cart-index) .header-wrapper .page-header.header-6 .container,
	.wide-layout:not(.checkout-cart-index) .header-wrapper .page-header.header-7 > *,
	.boxed-layout:not(.checkout-cart-index) .header-wrapper .page-header.header-7 .container {
		background-color: #373b6a;
	}
	body .header-wrapper .page-header[class*="header-"] {
		color: rgba(255,255,255,0.95);
	}
	.wide-layout .page-header.header-1 .menu-wrapper,
	.page-header.header-1 .menu-wrapper .menu-inner,
	.wide-layout .header-wrapper .page-header.header-2 .menu-wrapper,
	.boxed-layout .header-wrapper .page-header.header-2 .menu-wrapper .menu-inner,
	.page-header.header-3 .top-block .top-block-inner,
	.page-wrapper.header-5 .middle-block,
	.boxed-layout .header-wrapper .page-header.header-6 .menu-wrapper .menu-inner {
		border-color: rgba(255,255,255,0.2);
	}
	.wide-layout .header-wrapper .page-header.header-6 .menu-wrapper::before {
		background-color: rgba(255,255,255,0.2);
	}
	.header-wrapper .page-header[class*="header-"] .block-search .input-group {
		background-color: rgba(255,255,255,0.2);
		border-color: rgba(0,0,0,0);
	}
	.header-wrapper .page-header[class*="header-"] .block-search input,
	.header-wrapper .page-header[class*="header-"] .block-search .search-icon i {
		color: #fff;
	}
	.header-wrapper .page-header[class*="header-"] .block-search .search-icon::after {
		background-color: #fff;
	}
	.header-wrapper .page-header[class*="header-"] .block-search input::-webkit-input-placeholder {
	  color: #fff;
	}
	.header-wrapper .page-header[class*="header-"] .block-search input::-moz-placeholder {
	  color: #fff;
	}
	.header-wrapper .page-header[class*="header-"] .block-search input:-ms-input-placeholder {
	  color: #fff;
	}
	.header-wrapper .page-header[class*="header-"] .block-search input:-moz-placeholder {
	  color: #fff;
	}
	.header-wrapper .page-header[class*="header-"] .block-search .btn {
		color: rgba(255,255,255,0.95);
		background-color: rgba(0,0,0,0);
	}
	.header-wrapper .page-header[class*="header-"] .block-search .btn:hover,
	.header-wrapper .page-header[class*="header-"] .block-search .btn.hover {
		color: rgba(255,255,255,0.95);
		background-color: rgba(255,255,255,0.2);
	}
	.header-wrapper .page-header[class*="header-"] .block-search .btn:active,
	.header-wrapper .page-header[class*="header-"] .block-search .btn.active {
		color: rgba(255,255,255,0.95);
		background-color: rgba(255,255,255,0.2);
	}
	.header-wrapper .page-header[class*="header-"] .block-search .btn:focus,
	.header-wrapper .page-header[class*="header-"] .block-search .btn.focus {
		color: ;
		background-color: ;
	}
	.header-wrapper .page-header[class*="header-"] .block-search.type-2 .search-button {
		color: rgba(255,255,255,0.95);
		background-color: rgba(255,255,255,0.2);
	}
	.header-wrapper .page-header[class*="header-"] .block-search.type-2 .search-button:hover,
	.header-wrapper .page-header[class*="header-"] .block-search.type-2 .search-button.hover {
		color: rgba(255,255,255,0.95);
		background-color: rgba(255,255,255,0.2);
	}
	.header-wrapper .page-header[class*="header-"] .block-search.type-2 .search-button:active,
	.header-wrapper .page-header[class*="header-"] .block-search.type-2 .search-button.active {
		color: rgba(255,255,255,0.95);
		background-color: rgba(255,255,255,0.2);
	}
	.header-wrapper .page-header[class*="header-"] .block-search.type-2 .search-button:focus,
	.header-wrapper .page-header[class*="header-"] .block-search.type-2 .search-button.focus {
		color: ;
		background-color: ;
	}
	.page-header[class*="header-"] .options-wrapper .options-block {
		color: rgba(255,255,255,0.95);
		background-color: rgba(0,0,0,0);
	}
	.page-header[class*="header-"] .options-wrapper .options-block:hover {
		color: #888;
		background-color: #fff;
	}
	.page-header[class*="header-"] .options-wrapper .options-block.open,
	.page-header[class*="header-"] .options-wrapper .options-block:active {
		color: #888;
		background-color: #fff;
	}
	.page-header[class*="header-"] .options-wrapper .options-block:focus {
		color: ;
		background-color: ;
	}
	.page-header[class*="header-"] .options-wrapper .options-dropdown {
		background-color: #fff;
	}
	.page-header[class*="header-"] .options-wrapper .options-dropdown .header.links li a,
	.page-header[class*="header-"] .options-wrapper .options-dropdown .header.links li.authorization-link a {
		color: #222;
	}
	.page-header[class*="header-"] .options-wrapper .options-dropdown .header.links li a:hover,
	.page-header[class*="header-"] .options-wrapper .options-dropdown .header.links li.authorization-link a:hover {
		color: #f06292;
	}
	.page-header[class*="header-"] .options-wrapper .options-dropdown .header.links li a:active,
	.page-header[class*="header-"] .options-wrapper .options-dropdown .header.links li.authorization-link a:active {
		color: #f06292;
	}
	.page-header[class*="header-"] .options-wrapper .options-dropdown .header.links li a:focus,
	.page-header[class*="header-"] .options-wrapper .options-dropdown .header.links li.authorization-link a:focus {
		color: ;
	}
	.page-header[class*="header-"] .options-wrapper .options-dropdown .header.links li + li {
		border-color: rgba(0,0,0,0.12);
	}
	.page-header[class*="header-"] .options-wrapper .options-dropdown .header-switcher .options strong {
		background-color: rgba(0,0,0,0.08);
		color: rgba(0, 0, 0, .7);
	}
	.page-header[class*="header-"] .options-wrapper .options-dropdown .header-switcher .options strong:hover {
		background-color: rgba(0,0,0,0.08);
		color: #f06292;
	}
	.page-header[class*="header-"] .options-wrapper .options-dropdown .header-switcher .options.active strong,
	.page-header[class*="header-"] .options-wrapper .options-dropdown .header-switcher .options strong:active {
		background-color: rgba(0,0,0,0.08);
		color: #f06292;
	}
	.page-header[class*="header-"] .options-wrapper .options-dropdown .header-switcher .options strong:focus {
		background-color: ;
		color: ;
	}
	.page-header[class*="header-"] .options-wrapper .options-dropdown .header-switcher .options .action.toggle::after {
		border-top-color: rgba(0, 0, 0, .7);
	}
	.page-header[class*="header-"] .options-wrapper .options-dropdown .header-switcher .options:hover .action.toggle::after {
		border-top-color: #f06292;
	}
	.page-header[class*="header-"] .options-wrapper .options-dropdown .header-switcher .options.active .action.toggle::after {
		border-top-color: #f06292;
	}
	.page-header[class*="header-"] .options-wrapper .options-dropdown .header-switcher .options:focus .action.toggle::after {
		border-top-color: ;
	}
	.page-header[class*="header-"] .minicart-wrapper .title-cart {
		background-color: rgba(0,0,0,0);
		color: rgba(255,255,255,0.95);
		border-color: rgba(255,255,255,0.2);
	}
	.page-header[class*="header-"] .minicart-wrapper .title-cart:hover {
		background-color: #fff;
		color: #888;
		border-color: #fff;
	}
	.page-header[class*="header-"] .minicart-wrapper .title-cart.active,
	.page-header[class*="header-"] .minicart-wrapper .title-cart:active {
		background-color: #fff;
		color: #888;
		border-color: #fff;
	}
	.page-header[class*="header-"] .minicart-wrapper .title-cart.focus,
	.page-header[class*="header-"] .minicart-wrapper .title-cart:focus {
		background-color: ;
		color: ;
		border-color: ;
	}
	.page-header[class*="header-"] .minicart-wrapper .title-cart .counter-number {
		background-color: #fff;
		color: #373b6a;
	}
	.page-header[class*="header-"] .minicart-wrapper .title-cart:hover .counter-number {
		background-color: #f06292;
		color: #fff;
	}
	.page-header[class*="header-"] .minicart-wrapper .title-cart:active .counter-number,
	.page-header[class*="header-"] .minicart-wrapper .title-cart.active .counter-number {
		background-color: #f06292;
		color: #fff;
	}
	.page-header[class*="header-"] .minicart-wrapper .title-cart:focus .counter-number {
		background-color: ;
		color: ;
	}
	.page-header[class*="header-"] .minicart-wrapper .block-minicart {
		background-color: #fff;
		color: #666;
	}
	.block-minicart .subtotal .label,
	.minicart-wrapper .product-item-name a {
		color: #666;
	}
	.page-header[class*="header-"] .block-minicart .subtotal {
		border-color: rgba(0,0,0,0.1);
	}
	.page-header[class*="header-"] .minicart-items .action.edit,
	.page-header[class*="header-"] .minicart-items .action.delete {
		color: #aaa;
	}
	.page-header[class*="header-"] .minicart-items .action.edit:hover,
	.page-header[class*="header-"] .minicart-items .action.delete:hover {
		color: rgba(0,0,0,0.8);
	}
	.page-header[class*="header-"] .minicart-items .action.edit:active,
	.page-header[class*="header-"] .minicart-items .action.delete:active {
		color: rgba(0,0,0,0.8);
	}
	.page-header[class*="header-"] .minicart-items .action.edit:focus,
	.page-header[class*="header-"] .minicart-items .action.delete:focus {
		color: ;
	}
	.page-header[class*="header-"] .minicart-price .price {
		color: #f06292;
	}
	.page-header[class*="header-"] .minicart-items .item-qty {
		color: #fff;
		background-color: #3eb051;
	}
	.page-header[class*="header-"] .block-minicart .subtotal .price-container .price {
		color: #f06292;
	}
	.page-header[class*="header-"] .minicart-wrapper .actions div.secondary .btn {
		color: #666;
		background-color: rgba(0,0,0,0);
		border-color: rgba(0,0,0,0.1);
	}
	.page-header[class*="header-"] .minicart-wrapper .actions div.secondary .btn:hover, 
	.page-header[class*="header-"] .minicart-wrapper .actions div.secondary .btn.hover {
		color: #666;
		background-color: #eee;
		border-color: #eee;
	}
	.page-header[class*="header-"] .minicart-wrapper .actions div.secondary .btn:active, 
	.page-header[class*="header-"] .minicart-wrapper .actions div.secondary .btn.active {
		color: #666;
		background-color: #eee;
		border-color: #eee;
	}
	.page-header[class*="header-"] .minicart-wrapper .actions div.secondary .btn:focus, 
	.page-header[class*="header-"] .minicart-wrapper .actions div.secondary .btn.focus {
		color: ;
		background-color: ;
		border-color: ;
	}
	.page-header[class*="header-"] .minicart-wrapper .actions div.primary .btn {
		color: #fff;
		background-color: #373b6a;
		border-color: #373b6a;
	}
	.page-header[class*="header-"] .minicart-wrapper .actions div.primary .btn:hover,
	.page-header[class*="header-"] .minicart-wrapper .actions div.primary .btn.hover {
		color: #fff;
		background-color: #f06292;
		border-color: #f06292;
	}
	.page-header[class*="header-"] .minicart-wrapper .actions div.primary .btn:active,
	.page-header[class*="header-"] .minicart-wrapper .actions div.primary .btn.active {
		color: #fff;
		background-color: #f06292;
		border-color: #f06292;
	}
	.page-header[class*="header-"] .minicart-wrapper .actions div.primary .btn:focus,
	.page-header[class*="header-"] .minicart-wrapper .actions div.primary .btn.focus {
		color: ;
		background-color: ;
		border-color: ;
	}
	.page-header[class*="header-"] ul.social-links li a {
		color: rgba(255, 255, 255, 0.95);
		background-color: rgba(0,0,0,0);
	}
	.page-header[class*="header-"] ul.social-links li a:hover {
		color: rgba(255, 255, 255, 0.95);
		background-color: rgba(255, 255, 255, 0.1);
	}
	.page-header[class*="header-"] ul.social-links li a:active {
		color: rgba(255, 255, 255, 0.95);
		background-color: rgba(255, 255, 255, 0.1);
	}
	.page-header[class*="header-"] ul.social-links li a:focus {
		color: ;
		background-color: ;
	}
	
	.wide-layout .page-header.header-1 .menu-wrapper,
	.boxed-layout .page-header.header-1 .menu-wrapper .container,
	.wide-layout .page-header.header-2 .menu-wrapper,
	.boxed-layout .page-header.header-2 .menu-wrapper .menu-inner,
	.header-wrapper .page-header.header-3 .navbar-collapse.collapse,
	.wide-layout .header-wrapper .page-header.header-5 .menu-wrapper,
	.boxed-layout .header-wrapper .page-header.header-5 .menu-wrapper .menu-inner,
	.page-header.header-7 .menu-wrapper .container,
	.wide-layout .header-wrapper .page-header.header-6 .menu-wrapper,
	.boxed-layout .header-wrapper .page-header.header-6 .menu-wrapper .container,
	.page-header.header-4 .toggle-nav {
		background-color: #373b6a;
	}
	.header-wrapper .page-header[class*="header-"] .navbar-collapse.collapse a.level-top {
		background-color: rgba(0,0,0,0);
		color: rgba(255,255,255,0.95);
	}
	.header-wrapper .page-header[class*="header-"] .navbar-collapse.collapse a.level-top:hover,
	.header-wrapper .page-header[class*="header-"] .navbar-collapse.collapse a.level-top.ui-state-focus {
		background-color: rgba(255,255,255,0.2);
		color: rgba(255,255,255,0.95);
	}
	.header-wrapper .page-header[class*="header-"] .navbar-collapse.collapse a.level-top:active,
	.header-wrapper .page-header[class*="header-"] .navbar-collapse.collapse a.level-top.ui-state-active {
		background-color: rgba(255,255,255,0.2);
		color: rgba(255,255,255,0.95);
	}
	.header-wrapper .page-header[class*="header-"] .navbar-collapse.collapse a.level-top:focus {
		background-color: ;
		color: ;
	}

	body.wide-layout .footer,
	body.boxed-layout .footer .container {
		background: #f06292;
	}
	.footer {
		color: rgba(255,255,255,0.6);
	}
	.footer .links a::before {
		background-color: rgba(255,255,255,0.6);
	}
	.footer hr.solid, .footer hr.dotted, .footer hr.dashed {
		border-color: rgba(255,255,255,0.2);
	}
	body.wide-layout .footer .footer-bottom,
	body.boxed-layout .footer .footer-bottom .container,
	body.wide-layout .footer .footer-top .container,
	body.boxed-layout .footer .footer-top .container,
	body.wide-layout .footer .footer-middle .container,
	body.boxed-layout .footer .footer-middle .container {
		border-color: rgba(255,255,255,0.2);
	}
	.footer .footer-block-title {
		color: #fff;
	}
	.footer a:hover,
	.footer a:focus,
	.footer a:active,
	.footer .links a:hover,
	.footer .horizontal-links li a:hover {
		color: rgba(255,255,255,0.95);
	}
	.footer .links a:hover::after {
		background-color: rgba(255,255,255,0.95);
	}
	body .footer ul.social-links li a {
		color: #fff;
		background-color: rgba(0,0,0,0);
	}
	body .footer ul.social-links li a:hover {
		color: #fff;
		background-color: rgba(255,255,255,0.1);
	}
	body .footer ul.social-links li a:active {
		color: #fff;
		background-color: rgba(255,255,255,0.1);
	}
	body .footer ul.social-links li a:focus {
		color: ;
		background-color: ;
	}

	body .product-hover-1 .hover-buttons a {
		color: #aaa;
		background-color: #fff;
	}
	body .product-hover-1 .hover-buttons a:hover {
		color: rgba(0,0,0,0.8);
		background-color: #fff;
	}
	body .product-hover-1 .hover-buttons a:active {
		color: rgba(0,0,0,0.8);
		background-color: #fff;
	}
	body .product-hover-1 .hover-buttons a:focus {
		color: ;
		background-color: ;
	}
	body [class*="product-hover-"] .hover-buttons .btn,
	body [class*="product-hover-"] .hover-buttons .btn-default {
		color: #465362;
		background-color: #fff;
	}
	body [class*="product-hover-"] .hover-buttons .btn:hover,
	body [class*="product-hover-"] .hover-buttons .btn-default:hover,
	body [class*="product-hover-"] .hover-buttons .btn.hover,
	body [class*="product-hover-"] .hover-buttons .btn-default.hover {
		color: #fff;
		background-color: #465362;
	}
	body [class*="product-hover-"] .hover-buttons .btn:active,
	body [class*="product-hover-"] .hover-buttons .btn-default:active,
	body [class*="product-hover-"] .hover-buttons .btn.active,
	body [class*="product-hover-"] .hover-buttons .btn-default.active {
		color: #fff;
		background-color: #465362;
	}
	body [class*="product-hover-"] .hover-buttons .btn:focus,
	body [class*="product-hover-"] .hover-buttons .btn-default:focus,
	body [class*="product-hover-"] .hover-buttons .btn.focus,
	body [class*="product-hover-"] .hover-buttons .btn-default.focus {
		color: ;
		background-color: ;
	}

	.toolbar .pagination > li > a,
	.toolbar .pagination > li > span {
		color: #465362;
		background-color: #fff;
	}
	.toolbar .pagination > li > a:hover,
	.toolbar .pagination > li > span:hover {
		color: #fff;
		background-color: #465362;
	}
	.toolbar .pagination > .active > a,
	.toolbar .pagination > .active > span {
		color: #fff;
		background-color: #465362;
	}
	.toolbar .pagination > li > a:focus,
	.toolbar .pagination > li > span:focus {
		color: ;
		background-color: ;
	}

	/*Sidebar*/
	body[class*="blog-"] .sidebar:not(.sidebar-wrapper),
	.catalogsearch-result-index .sidebar:not(.sidebar-wrapper), 
	catalogsearch-advanced-result .sidebar:not(.sidebar-wrapper),
	.catalog-category-view .sidebar:not(.sidebar-wrapper),
	body[class*="blog-"].page-layout-3columns .sidebar-wrapper,
	.catalogsearch-result-index.page-layout-3columns .sidebar-wrapper,
	.catalogsearch-advanced-result.page-layout-3columns .sidebar-wrapper,
	.catalog-category-view.page-layout-3columns .sidebar-wrapper {
		background-color: #fff;
	}
	body[class*="blog-"] .sidebar .block,
	.catalogsearch-result-index .sidebar .block,
	.catalogsearch-advanced-result .sidebar .block,
	.catalog-category-view .sidebar .block,
	.sidebar .block li + li,
	.sidebar .block .actions-toolbar {
		border-color: rgba(0,0,0,0);
	}
	body[class*="blog-"] .sidebar .block,
	.catalogsearch-result-index .sidebar .block,
	.catalogsearch-advanced-result .sidebar .block,
	.catalog-category-view .sidebar .block,
	.sidebar .block.block-compare .action.delete,
	.sidebar .block.block-wishlist .product-item-details .product-item-actions a.btn-remove::before,
	.sidebar .block.block-wishlist .product-item-details .product-item-actions .action.tocart::before {
		color: #666;
	}
	.sidebar .block li a:hover,
	.sidebar .block.account-nav li strong,
	.sidebar .block.account-nav li a:hover,
	.sidebar .block li a.delete:hover,
	.sidebar .block.block-wishlist .product-item-details .product-item-actions .action.tocart:hover::before,
	.sidebar .block.block-compare .action.delete:hover,
	.sidebar .block.block-wishlist .product-item-details .product-item-actions a.btn-remove:hover::before,
	.sidebar .block.block-wishlist .product-item-details .product-item-actions .action.tocart:hover::before {
		color: #f06292;
	}

	.cart-summary .block > .title,
	.sidebar .block .block-title,
	.sidebar .block .title {
		color: #222;
	}
	.sidebar .price {
		color: #373b6a;
	}
	.sidebar .price-box .special-price .price {
		color: #f06292;
	}
	.sidebar .old-price .price {
		color: #aaa;
	}
	.sidebar .block.filter .block-title {
		color: #222;
	}
	.sidebar .block.filter .options dt,
	.filter-options-title {
		color: #222;
	}
	.sidebar .block.filter ol li a {
		color: #666;
	}
	.sidebar .block.filter ol li a:hover {
		color: #f06292;
	}
	.sidebar .block.filter ol li a:active {
		color: #f06292;
	}
	.sidebar .block.filter ol li a:focus {
		color: ;
	}
	.sidebar .block.filter .swatch-attribute-options .swatch-option.text {
		color: #666;
		border-color: rgba(0,0,0,0.1);
		background-color: rgba(0,0,0,0);
	}
	.sidebar .block.filter .swatch-attribute-options .swatch-option.text:hover {
		color: #666;
		border-color: rgba(0,0,0,0.1);
		background-color: #fff;
	}
	.sidebar .block.filter .swatch-attribute-options .swatch-option.text:active {
		color: #666;
		border-color: rgba(0,0,0,0.1);
		background-color: #fff;
	}
	.sidebar .block.filter .swatch-attribute-options .swatch-option.text:focus {
		color: ;
		border-color: ;
		background-color: ;
	}

	body .swatch-option.text::before,
	body .swatch-option.image::before,
	body .swatch-option.color::before {
		-webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0);
		-moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0);
		box-shadow: 0px 1px 15px 0px rgba(0,0,0,0);
	}
	body .swatch-option.image:hover::before,
	body .swatch-option.image:not(.disabled):hover::before,
	body .swatch-option.color:hover::before,
	body .swatch-option.color:not(.disabled):hover::before,
	body .swatch-option.text:hover::before,
	body .swatch-option.text:not(.disabled):hover::before {
		-webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.1);
		border-color: rgba(0,0,0,0.1);
	}
	body .swatch-option.image.selected::before,
	body .swatch-option.color.selected::before,
	body .swatch-option.text.selected::before {
		-webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.1);
		border-color: rgba(0,0,0,0.1);
	}
	body .swatch-option.image:focus::before,
	body .swatch-option.image:not(.disabled):focus::before,
	body .swatch-option.color:focus::before,
	body .swatch-option.color:not(.disabled):focus::before,
	body .swatch-option.text:focus::before,
	body .swatch-option.text:not(.disabled):focus::before {
		-webkit-box-shadow: 0px 1px 15px 0px ;
		-moz-box-shadow: 0px 1px 15px 0px ;
		box-shadow: 0px 1px 15px 0px ;
		border-color: ;
	}

	.sidebar .block.block-wishlist .product-item-details .product-item-name a,
	.sidebar .block.block-reorder li .product-item-name a,
	.sidebar .block.block-compare li .product-item-name a,
	.sidebar .block li .product-item-name a {
		color: #222;
	}
	.sidebar .block.block-wishlist .product-item-details .product-item-name a:hover,
	.sidebar .block.block-reorder li .product-item-name a:hover,
	.sidebar .block.block-compare li .product-item-name a:hover,
	.sidebar .block li .product-item-name a:hover {
		color: #f06292;
	}
	.sidebar .block.block-wishlist .product-item-details .product-item-name a:active,
	.sidebar .block.block-reorder li .product-item-name a:active,
	.sidebar .block.block-compare li .product-item-name a:active,
	.sidebar .block li .product-item-name a:active {
		color: #f06292;
	}
	.sidebar .block.block-wishlist .product-item-details .product-item-name a:focus,
	.sidebar .block.block-reorder li .product-item-name a:focus,
	.sidebar .block.block-compare li .product-item-name a:focus,
	.sidebar .block li .product-item-name a:focus {
		color: ;
	}
	.product-info-main .page-title {
		color: #222;
	}
	.product-info-main .product-social-links a.mailto,
	.bundle-options-container .product-add-form .product-addto-links a,
	.product-info-main .product-addto-links a {
		color: #aaa;
		background-color: #fff;
		border-color: rgba(0,0,0,0.1);
	}
	.product-info-main .product-mail-to a:hover,
	.bundle-options-container .product-add-form .product-addto-links a:hover,
	.product-info-main .product-social-links a:hover {
		color: rgba(0,0,0,0.8);
		background-color: #fff;
		border-color: rgba(0,0,0,0.1);
	}
	.product-info-main .product-mail-to a:active,
	.bundle-options-container .product-add-form .product-addto-links a:active,
	.product-info-main .product-social-links a:active {
		color: rgba(0,0,0,0.8);
		background-color: #fff;
		border-color: rgba(0,0,0,0.1);
	}
	.product-info-main .product-mail-to a:focus,
	.bundle-options-container .product-add-form .product-addto-links a:focus,
	.product-info-main .product-social-links a:focus {
		color: ;
		background-color: ;
		border-color: ;
	}
	.product-labels span.label-sale {
		color: #4f421f;
		background-color: #373b6a;
	}
	.product-labels span {
		color: #fff;
		background-color: #ff2a2a;
	}
	.catalog-product-view .product-info-main .box-tocart .btn {
		color: #fff;
		background-color: #4caf50;
		border-color: #4caf50;
	}
	.catalog-product-view .product-info-main .box-tocart .btn:hover,
	.catalog-product-view .product-info-main .box-tocart .btn.hover {
		color: #fff;
		background-color: #0b3954;
		border-color: #0b3954;
	}
	.catalog-product-view .product-info-main .box-tocart .btn:active,
	.catalog-product-view .product-info-main .box-tocart .btn.active {
		color: #fff;
		background-color: #0b3954;
		border-color: #0b3954;
	}
	.catalog-product-view .product-info-main .box-tocart .btn:focus,
	.catalog-product-view .product-info-main .box-tocart .btn.focus {
		color: ;
		background-color: ;
		border-color: ;
	}
	.stock.available {
		color: #4caf50;
	}
	.stock {
		color: #888;
	}
	.product-info-main .availability.only {
		color: #ff2525;
	}
	.catalog-product-view .product-info-main .box-tocart label[for="qty"] {
		color: rgba(0,0,0,0.8);
	}
	.catalog-product-view .product-info-main .box-tocart .field.qty .control {
		background-color: rgba(0,0,0,0.08);
	}
	.catalog-product-view .product-info-main .box-tocart .field.qty input.qty {
		color: rgba(0,0,0,0.8);
	}
	.catalog-product-view .product-info-main .box-tocart .field.qty div.quantity-decrease i,
	.catalog-product-view .product-info-main .box-tocart .field.qty div.quantity-increase i {
		color: rgba(0,0,0,0.8);
		background-color: rgba(0,0,0,0);
	}
	.catalog-product-view .product-info-main .box-tocart .field.qty div.quantity-decrease i:hover,
	.catalog-product-view .product-info-main .box-tocart .field.qty div.quantity-increase i:hover {
		color: #111;
		background-color: rgba(0,0,0,0.1);
	}
	.catalog-product-view .product-info-main .box-tocart .field.qty div.quantity-decrease i:active,
	.catalog-product-view .product-info-main .box-tocart .field.qty div.quantity-increase i:active {
		color: #111;
		background-color: rgba(0,0,0,0.1);
	}
	.catalog-product-view .product-info-main .box-tocart .field.qty div.quantity-decrease i:focus,
	.catalog-product-view .product-info-main .box-tocart .field.qty div.quantity-increase i:focus {
		color: ;
		background-color: ;
	}
	.catalog-product-view .static-block-top .block-link {
		color: #222;
	}
	.product-options-wrapper .block-link.size-chart {
		color: #666;
	}
	.product-options-wrapper .block-link.size-chart:hover {
		color: #f06292;
	}
	.product-options-wrapper .block-link.size-chart:active {
		color: #f06292;
	}
	.product-options-wrapper .block-link.size-chart:focus {
		color: ;
	}
	.catalog-product-view .additional-information li,
	.catalog-product-view .additional-information li a {
		color: #222;
	}
	.catalog-product-view .additional-information li:hover,
	.catalog-product-view .additional-information li a:hover {
		color: #f06292;
	}
	.catalog-product-view .additional-information li:active,
	.catalog-product-view .additional-information li a:active {
		color: #f06292;
	}
	.catalog-product-view .additional-information li:focus,
	.catalog-product-view .additional-information li a:focus {
		color: ;
	}
	.catalog-product-view .additional-information i,
	.catalog-product-view .additional-information a i {
		color: #4caf50;
	}
	.product-info-main .sku strong,
	.product-info-main .manufacturer strong {
		color: #666;
	}
	.product-info-main .sku div,
	.product-info-main .manufacturer div {
		color: #222;
	}
	.product.data.items {
		border-color: rgba(0,0,0,0.1);
	}
	.product.data.items > .item:first-child::before {
		background-color: #eee;
	}
	.product.data.items > .item.title > .switch {
		color: #616161;
	}
	.product.data.items > .item.title:not(.disabled) > .switch:hover {
		color: #616161;
		background-color: #fff;
	}
	.product.data.items > .item.title:not(.disabled) > .switch:active,
	.product.data.items > .item.title.active > .switch,
	.product.data.items > .item.title.active > .switch:focus,
	.product.data.items > .item.title.active > .switch:hover {
		color: #616161;
		background-color: #fff;
	}
	.product.data.items > .item.title:not(.disabled) > .switch:active::after,
	.product.data.items > .item.title.active > .switch::after,
	.product.data.items > .item.title.active > .switch:focus::after,
	.product.data.items > .item.title.active > .switch:hover::after {
		background-color: #fff;
	}
	.product.data.items > .item.title:not(.disabled) > .switch:focus {
		color: ;
		background-color: ;
	}
	.product.data.items > .item.title:not(:first-of-type):not(.active) .switch::before {
		background-color: rgba(0,0,0,0.1);
	}
	.additional-attributes-wrapper .table tbody tr {
		border-color: #ddd;
	}
	#product-review-container .review-item .top-block,
	#product-review-container .review-box {
		background-color: #f7f7f7;
		border-color: rgba(0,0,0,0.06);
	}
	#product-review-container .review-title {
		color: rgba(0,0,0,0.8);
	}
	#product-review-container .rating-summary .label,
	#product-review-container .review-box,
	#product-review-container .review-item .customer-info .review-author {
		color: #666;
	}
	#product-review-container .review-item .customer-info .review-author strong,
	#product-review-container .review-item .customer-info .date {
		color: rgba(0,0,0,0.3);
	}

	